
<h1 style="color: black; font-size: 30px; text-align: center;">Modificar Ciudad</h1>

<div class="central" style="margin-left: 10%">
  <form class="card">
  <div class="form-group">
    <select id='Ciudad' class="form-control font-estilo">
      <ng-container *ngFor="let ciudad of ciudades; let i = index">
        <option value={{ciudad.nombre}}>{{ciudad.nombre}}</option>
      </ng-container>
    </select>
    <button (click)="mostrarInformacion();" type="submit" class="btn btn-primary btn-signin">Buscar</button>
  </div>


<div id="modificarform" class="central" style="margin-left: 5%">
  <form class="card">
  <div class="form-group">
    <label for="InputNombre">Nombre</label>
    <input id="nombre" type="text" class="form-control" id="InputNombre" placeholder="Ciudad">
  </div>
  <div class="form-group">
    <label for="InputPoblacion">Habitantes</label>
    <input id="habitantes" type="number" class="form-control" id="InputPoblacion" placeholder="Poblacion">
  </div>
  <div class="form-group">
      <label for="InputDescripcion">Descripción</label>
      <input id="descripcion" type="text" class="form-control" id="InputDescripcion" placeholder="Descripcion">
    </div>
  <button (click)="volver()" type="submit" class="btn btn-primary btn-signin">Agregar Ciudad</button>
  <button i18n="Traduccion de b agregar ciudad" (click)="volver()" type="submit" class="btn btn-primary btn-signin">Cancelar</button>
  </form>
</div>