<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Perfil del Cliente -->
  <!-- ============================================================== -->

  <div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <h2 class="text-themecolor m-b-0 m-t-0">Perfil</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Perfil</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
      <div class="card">
        <img class="card-img-top" src="../assets/images/background/profile-bg.jpg" alt="Card image cap">
        <div class="card-block little-profile text-center">
          <div class="pro-img">
            <img src="../assets/images/users/1.jpg" alt="user" />
          </div>
          <h3 class="m-b-0">{{_usuario.Nombre+' '+_usuario.Apellido}}</h3>
          <p>Cumpleaños: {{_usuario.FechaNacimiento}} Correo: {{_usuario.Correo}}</p>
          <div class="row text-center m-t-20">
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light">1099</h3>
              <small>Apuestas</small>
            </div>
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light">23,469</h3>
              <small>Ganadas</small>
            </div>
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light">6035</h3>
              <small>Perdidas</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-xlg-9 col-md-7">
      <div class="card">
        <div class="card-block">

          <div class="form-horizontal form-material">
            <div class="form-group">
              <label class="col-md-12">Nombre Completo</label>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button class="btn btn-success" (click)="TestActualizarCorreo()">Actualizar Perfil</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>

  </div>
</div>