<div class="wrap-menu">
	<div class="City-menu">
	<ul class="nav flex-column nav-tabs">
		<li class="nav-item">
			<a class="nav-link" (click)="AgregarCiudad()"> Agregar Ciudad
			</a>
		</li>		
		<li class="nav-item">
			<a class="nav-link" (click)="ConsultarCiudad()"> Consultar Ciudad
			</a>
		</li>		
		<li class="nav-item">
			<a class="nav-link" (click)="ModificarCiudad()"> Modificar Ciudad
			</a>
        </li>
        <li class="nav-item">
			<a class="nav-link" (click)="EliminarCiudad()"> Desabilitar Ciudad
			</a>
		</li>
	</ul>
	</div>
</div>

<!---
<form class="card">
    <button (click)="AgregarCiudad()"  type="submit" class="btn btn-primary btn-boton" >Agregar Ciudad</button>
    <button (click)="ConsultarCiudad()"  type="submit" class="btn btn-primary btn-boton2" >Consultar Ciudad</button>
    <button (click)="ModificarCiudad()"  type="submit" class="btn btn-primary btn-boton" >Modificar Ciudad</button>
    <button (click)="EliminarCiudad()"  type="submit" class="btn btn-primary btn-boton2" >Eliminar Ciudad</button>
</form>
-->