<header class="header-image" *ngIf="!esHome">
  <form class="card">
  <h1 style="color: black; font-size: 30px; text-align: center;">Modificar Ciudad</h1>
  <div class="form-group">
    <label for="ImputNombre">Nombre</label>
    <input type="text" class="form-control" id="ImputNombre" placeholder="Ciudad">
  </div>
  <div class="form-group">
    <label for="ImputPoblacion">Población</label>
    <input type="number" class="form-control" id="ImputPoblacion" placeholder="Poblacion">
  </div>
  <div class="form-group">
      <label for="ImputDescripcion">Descripción</label>
      <input type="text" class="form-control" id="ImputDescripcion" placeholder="Descripcion">
    </div>
    <div class="form-group">
      <label for="ImputLocaliacion">Localización</label>
      <input type="text" class="form-control" id="ImputLocaliacion" placeholder="Localizacion">
    </div>
  <button (click)="volver()" type="submit" class="btn btn-primary btn-signin">Agregar Ciudad</button>
  </form>
</header>