<div class="row justify-content-center">
	<div class="col-md-4 col-sm-12">
		<form #userRegistrationForm="ngForm" (ngSubmit)="registerUser(userRegistrationForm)" class="card">
			<div class="image-logo">
				<div class="row justify-content-center">
					<div class="col-3">
						<img class="img-fluid" src="../../../assets/images/logo.png" alt="">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label data-error="¡Campo requerido!" for="exampleInputUser">* Usuario</label>
				<input matInput type="text" maxlength="20" #NombreUsuario="ngModel" [(ngModel)]="usuario.nombreUsuario" name="NombreUsuario" required class="form-control" id="exampleInputUser" placeholder="Usuario">
			</div>

			<div class="form-group">
				<label for="exampleInputName">* Nombre</label>
				<input matInput type="text" #Nombre="ngModel" maxlength="30" [(ngModel)]="usuario.nombre" name="Nombre" required class="form-control" id="exampleInputName" placeholder="Nombre">
			</div>

			<div class="form-group">
				<label for="exampleInputLastname">* Apellido</label>
				<input matInput type="text" #Apellido="ngModel" maxlength="30" [(ngModel)]="usuario.apellido" name="Apellido" required class="form-control" id="exampleInputLastname" placeholder="Apellido">
			</div>

			<div class="form-group">
				<label for="exampleInputDate">* Fecha de nacimiento</label>
				<input matInput type="date" #FechaNacimiento="ngModel" [(ngModel)]="usuario.fechaNacimiento" name="FechaNacimiento" required class="form-control" id="exampleInputDate" placeholder="Fecha de nacimiento">
			</div>

			<div class="form-group">
				<label data-error="¡Correo inválido!" for="exampleInputEmail">* Correo electrónico</label>
				<input matInput type="email" #Correo="ngModel" [(ngModel)]="usuario.correo" name="Correo" required [pattern]="emailPattern" class="form-control" id="exampleInputEmail" placeholder="Correo electrónico">
			</div>

			<div class="form-group">
				<label for="exampleFormControlSelect1">Género</label>
				<select #Genero="ngModel" [(ngModel)]="usuario.genero" name="Genero" required class="form-control" id="exampleFormControlSelect1">
					<option>F</option>
					<option>M</option>
				</select>
			</div>

			<div class="form-group">
				<label for="exampleInputPassword1">* Contraseña</label>
				<input type="password" #Password="ngModel" [(ngModel)]="usuario.password" name="Password" minlength="3" required class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
			</div>

			<div class="form-group">
				<label for="exampleInputPassword2">* Confirmar contraseña</label>
				<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirmar contraseña">
			</div>

			<button [disabled]="!userRegistrationForm.valid" type="submit" class="btn btn-primary btn-signin">Registrarse</button>
		</form>
	</div>
</div>


<!--<div class="login-page">
		<div class="container-fluid">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
				<img src="../../../assets/images/slider1.jpg" alt="slider1">
		  		<div class="carousel-caption d-none d-md-block">
					<h5>...</h5>
					<p>...</p>
				</div>
		    </div>
		    <div class="carousel-item">
				<img src="../../../assets/images/slider2.jpg" alt="slider2">
		  		<div class="carousel-caption d-none d-md-block">
					<h5>...</h5>
					<p>...</p>
				</div>
		    </div>

		    <div class="carousel-item">
		      <img src="../../../assets/images/slider3.jpg" alt="slider3">
		  		<div class="carousel-caption d-none d-md-block">
					<h5>...</h5>
					<p>...</p>
				</div>
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="oi oi-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="oi oi-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</div>-->

	