
<div class="central">

  
<form class="card">

  <h1 i18n="Traduccion de  agregar ciudad " style="color: black; font-size: 30px; text-align: center;">Agregar Ciudad </h1>

  <div class="form-group">

    <label i18n="Traduccion de nombre agregar ciudad" for="ImputNombre">Nombre</label>

    <input type="text" class="form-control" id="ImputNombre" placeholder="Ciudad">

  </div>

  <div class="form-group">

    <label i18n="Traduccion de poblacion agregar ciudad" for="ImputPoblacion">Población</label>

    <input type="number" class="form-control" id="ImputPoblacion" placeholder="Poblacion">

  </div>

  <div class="form-group">
     
    <label for="exampleFormControlTextarea1">Descripción</label>
    
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
   
  </div>

  <div class="form-group">

    <label i18n="Traduccion de descripcion agregar ciudad" for="ImputLocaliacion">Localización  </label>

    <input type="text" class="form-control" id="ImputLocaliacion" placeholder="Localizacion">

  </div>

  <div class="form-group">

    <label class="subTitle" for="exampleInputImage">Imagen del Estadio</label>

    <!--<form action="/action_page.php">-->

      <input type="file" class="form-control" id="exampleInputImage" accept="image/*">

      <!--</form>-->

    </div>

    <button i18n="Traduccion de b agregar ciudad" (click)="volver()" type="submit" class="btn btn-primary btn-signin">Agregar Ciudad</button>

    <button i18n="Traduccion de b agregar ciudad" (click)="volver()" type="submit" class="btn btn-primary btn-signin">Cancelar</button>

  </form>

</div>


