
<div class="central">

  
<form class="card">

  <h1 i18n="Traduccion de  agregar ciudad " style="color: black; font-size: 30px; text-align: center;">Agregar Ciudad </h1>

  <div class="form-group">

    <label for="ImputNombre">Nombre</label>
    <label> nombre </label>
  </div>

  <div class="form-group">

    <label for="ImputPoblacion">Población</label>

    <label> poblacion </label>
  </div>

  <div class="form-group">
     
    <label for="exampleFormControlTextarea1">Descripción</label>
    
    <label> descripcion </label>
  </div>

  <div class="form-group">

    <label for="ImputLocaliacion">Localización </label>

    <label> localizacion </label>
  </div>

  <div class="form-group">

    <label class="subTitle" for="exampleInputImage">Imagen del Estadio</label>

    <!--<form action="/action_page.php">-->

      <label> imagen </label>
      <!--</form>-->

    </div>

    <button i18n="Traduccion de b agregar ciudad" (click)="volver()" type="submit" class="btn btn-primary btn-signin">Agregar Ciudad</button>

    <button i18n="Traduccion de b agregar ciudad" (click)="volver()" type="submit" class="btn btn-primary btn-signin">Cancelar</button>

  </form>

</div>


