form {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 50%;
   padding: 1%;
   position: absolute;
}

.form-control:focus, .form-control-file:focus, .custom-select:focus {
   border-color: #02588E;
   box-shadow: inset 0 -2px 0 -1px #02588E;
   outline: 0;
}

.form-control:hover, .form-control-file:hover, .custom-select:hover {
   border-color: #02588E;
   box-shadow: inset 0 -2px 0 -1px #02588E;
   outline: 0;
}

.btn-signin{
   background-color: #A11D1B;
   margin-top: 1%;
}
