
COPA_MUNDIAL_UCAB-Develop/package\.json

COPA_MUNDIAL_UCAB-Develop/package-lock\.json

\.DS_Store
WebAPI/.vs/config/applicationhost.config
*.lnk
WebAPI/.vs/WebAPI/v14/.suo
WebAPI/WebApiPruebas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

WebAPI\.vs
WebAPI/.vs/WebAPI/v15/sqlite3/storage.ide
WebAPI/WebAPI/obj/Debug/WebAPI.csproj.FileListAbsolute.txt
WebAPI/WebApiPruebas/obj/Debug/WebApiPruebas.csproj.FileListAbsolute.txt
WebAPI/WebApiPruebas/obj/Debug/WebApiPruebas.csprojResolveAssemblyReference.cache
WebAPI/WebApiPruebas/bin/Debug/nunit_random_seed.tmp
WebAPI/WebAPI/obj/Debug/WebAPI.csprojResolveAssemblyReference.cache

WebAPI/WebAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

WebAPI/WebApiPruebas/bin/Debug/WebAPI\.pdb

WebAPI/WebApiPruebas/bin/Debug/WebAPI\.dll
