
<div>
<h1 i18n="Encabezado de ciudades en la tarjeta Principal Ciudad @@m2H1Ciudades" style="color: black; font-size: 30px; text-align: center; margin-top: 10%;">Ciudades</h1>
<div class="margen" style="margin-top: 10%">
    <a href="ciudades/agregarCiudad" i18n="Bonton agregar ciudad en la tarjeta Principal Ciudad @@m2BotonPrincipalAgregar" class="btn btn-signin my-1 margen centrar" style="width: 20%" >Agregar Ciudad</a>
    <a href="ciudades/eliminarCiudad" i18n="Bonton eliminar ciudad en la tarjeta Principal Ciudad @@m2BotonPrincipalEliminar" class="btn btn-signin margen centrar " style="width: 20%">Eliminar Ciudad</a>
    <a href="ciudades/consultarCiudad" i18n="Bonton consultar ciudad en la tarjeta Principal Ciudad @@m2BotonPrincipalConsultar" class="btn btn-signin my-1 centrar margen" style="width: 20%">Consultar Ciudad</a>
    <a href="ciudades/modificarCiudad" i18n="Bonton modificar ciudad en la tarjeta Principal Ciudad @@m2BotonPrincipalModificar" class="btn btn-signin margen centrar " style="width: 20%" >Modificar Ciudad</a>
    <a href="ciudades/listarCiudades" i18n="Bonton listar ciudades en la tarjeta Principal Ciudad @@m2BotonPrincipalListar" class="btn btn-signin margen centrar " style="width: 20%" >Listar Ciudades </a>
  </div>
</div>