

<script src="node_modules/core-js/client/shim.min.js"></script>
<script src="node_modules/zone-js/dist/zone.js"></script>
<script src="node_modules/systemjs/dist/system.src.js"></script>

<div class="container" style="margin-left: 0%">
    <!-- Content here -->

    <div class="row" style="left: 0px" >
        <div class="col-lg-4">
          <h2>Componente date picker</h2>
          <app-datepicker></app-datepicker>
            <label for="exampleInputDatePicker1">A basic example:</label>
            <input class="form-control" id="exampleInputDatePicker1" placeholder="Pick a date" type="text">
            <script type="text/javascript">
                $(function(){
                    $('#exampleInputDatePicker1').pickdate();
                });   
            </script> 
        </div> 
        <div class="col-lg-8">
          <h2>Partidos</h2>
            <app-group></app-group>
        </div> 
    </div>
   
  </div>
 



