<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<div class="container" style="margin-left: 0%">

    <div class="row" style="left: 0px" >
        <div class="col-lg-4">
          <h2>Calendario</h2>
          <button (click)="torneo()" type="submit" class="btn btn-primary">Iniciar sesión</button>
          <a class="btn btn-info" routerLink="torneo">hh</a>
          <app-datepicker>

          </app-datepicker> 
        </div> 
        <div class="col-lg-8">
          <h2>Grupos</h2>
            <app-group>

            </app-group>
        </div> 
    </div>
   
  </div>




      <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="container">
      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Mundial Rusia 2018</a></li>
            <li><a href="#">Partido</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
  </div>


<button class="button" (click)="estPartidos">Ver estadisticas Partido</button>  
<app-estpartidos></app-estpartidos>
  
