<header class="navbar navbar-dark navbar-full bg-color">

    <div data-breakpoint="lg" data-target="#navdrawerPermanent" data-toggle="navdrawer" data-type="permanent">
        <i class="material-icons">menu </i>
    </div>

    <span class="navbar-brand mr-auto d-none d-sm-block">
        <img src="../../../assets/images/logo.png" alt="" class="img-fluid img-logo-nav"> Mundial de Rusia 2018
    </span>

    <div class="navbar-nav">

        <div class="nav-item dropdown">
            <a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../assets/images/users/1.jpg" alt="user" class="profile-pic" />Felix Morales</a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a class="dropdown-item" (click)="setHome()" routerLink="usuario" routerLinkActive="active">
                        <i class="material-icons">face</i>Perfil</a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="setHome()" routerLink="configuracion" routerLinkActive="active">
                        <i class="material-icons">settings</i>Configuración</a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="setHome()" routerLink="user-security" routerLinkActive="active">
                        <i class="material-icons">lock</i>Seguridad</a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="setHome()" routerLink="">
                        <i class="material-icons">power_settings_new</i>Cerrar Sesión</a>
                </li>
            </ul>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flag-icon flag-icon-es"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">
                    <i class="flag-icon flag-icon-us"></i> Ingles</a>
            </div>
        </div>

    </div>

</header>

<div class="row">

    <div aria-hidden="true" class="navdrawer navdrawer-permanent-lg" id="navdrawerPermanent" tabindex="-1">
        <div class="navdrawer-content">

            <nav class="navdrawer-nav">
                <div class="user-profile" style="background: url(../assets/images/background/profile-bg.jpg) no-repeat;">

                    <div class="profile-img">
                        <img src="../../assets/images/users/1.jpg" alt="user" /> </div>

                    <div class="profile-text">
                        <a class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Felix Morales
                            <i class="material-icons">arrow_drop_down</i>
                        </a>

                        <div class="dropdown-menu animated flipInY">

                            <a (click)="setHome()" routerLink="usuario" routerLinkActive="active" class="dropdown-item">
                                <i class="material-icons">face</i>Mi Perfil</a>
                            <div class="dropdown-divider"></div>

                            <a (click)="setHome()" routerLink="usuario/configuracion-usuario" routerLinkActive="active" class="dropdown-item">
                                <i class="material-icons">settings</i>Configuración</a>
                            <div class="dropdown-divider"></div>

                            <a (click)="setHome()" routerLink="seguridad-usuario" routerLinkActive="active" class="dropdown-item">
                                <i class="material-icons">lock</i>Seguridad</a>
                            <div class="dropdown-divider"></div>

                            <a (click)="setHome()" routerLink="" class="dropdown-item">
                                <i class="material-icons">power_settings_new</i>Cerrar Sesión</a>

                        </div>
                    </div>
                </div>
            </nav>

            <div class="navdrawer-divider"></div>
            <p class="navdrawer-subheader">Modulos</p>
            <ul class="navdrawer-nav">
                <li class="nav-item" *ngFor="let module of moduleArray">
                    <a class="nav-link" [ngClass]="{ 'active' : module.isActive == true }" (click)="setModuleActive(module.name)" routerLink={{module.routeName}}
                        routerLinkActive="active"> {{module.name}}
                    </a>
                </li>

            </ul>

        </div>
    </div>
</div>