.nav, .nav-justified, .nav-tabs
{
    background-color: #A11D1B;
    color: #fff;
    margin-bottom: 2%;
}
.nav-item {
    padding: 0;
}
.nav-tabs a{
    color: #fff;
}
.regresar:hover {
    cursor: pointer;
}
.title {
    text-align: center;
    margin-bottom: 5%;
}
.card-body {
    padding: 2%;
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
}
th {
    font-size: 18px;
    text-align: center;
    border: 1px solid black;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.crear, .descartar {
    padding: 5%;
    border-radius: 25px;
    background-color: #8d1918;
    text-align: center;
}
.btn {
    background-color: #A11D1B;
    color: #fff;
    width: 100%;
}
.title {
    text-align: center;
}