<div class="row">
  <div class="mx-auto col-md-8" *ngIf="jugadores">
    <div class="form-group">
      <label for="Jugador.Id">Jugador</label>
      <select class="form-control" name="Jugador.Id" id="Jugador.Id">
        <option label=" " selected disable></option>
        <ng-container *ngFor="let jugador of jugadores">
          <option value="{{jugador.Id}}">{{jugador.Nombre}}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group">
      <label for="Posicion">Posicion</label>
      <select class="custom-select" id="Posicion">
        <option label=" " selected disable></option>
        <ng-container *ngFor="let posicion of posiciones">
          <option value="{{posicion}}">{{posicion}}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group">
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="esCapitan">
        <label class="custom-control-label" for="esCapitan">Capitan</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="esTitular">
        <label class="custom-control-label" for="esTitular">Titular</label>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <table *ngIf="partido" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Posicion</th>
          <th scope="col">Titular</th>
          <th scope="col">Capitan</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of partido.Alineaciones">
          <th scope="row">{{jugador.Jugador.Numero}}</th>
          <td>{{jugador.Jugador.Nombre}}</td>
          <td>{{jugador.Jugador.Posicion | titlecase}}</td>
          <ng-container *ngIf="jugador.Jugador.EsTitular">
            <td>Si</td>
          </ng-container>
          <ng-container *ngIf="!jugador.Jugador.EsTitular">
            <td>No</td>
          </ng-container>

          <ng-container *ngIf="jugador.Jugador.EsCapitan">
            <td>Si</td>
          </ng-container>
          <ng-container *ngIf="!jugador.Jugador.EsCapitan">
            <td>No</td>
          </ng-container>
          
          <td><a class="material-icons" (click)="EliminarAlineacion(jugador.Id)">
            delete
          </a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>