<div class="content-page">
    
    <div class="row justify-content-center">
        <p class="fecha text-center">Hoy es {{today | date}}</p>
        <div class="headline card">
            <h4 class="tittle">Usuarios con mas logros</h4>
        </div>
    </div>
    <!-- aqui -->

    <div class="row justify-content-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">NombreUsuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>saby112</td>
                    <td>Sabina</td>
                    <td>Quiroga</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>LauraQ</td>
                    <td>Laura</td>
                    <td>Quiñones</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>FelixDatabase</td>
                    <td>Felix</td>
                    <td>Morales</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
