
<ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
    <li class="nav-item">
    <a aria-controls="groups" aria-selected="false" class="nav-link" (click)="matchList()"  data-toggle="tab" id="groups-tab" role="tab">Partidos</a>
    </li>
    <li class="nav-item">
    <a aria-controls="Create" aria-selected="true" class="nav-link" (click)="matchUpdate()" data-toggle="tab" id="create-tab" role="tab">Modificar Partido</a>
    </li>
    <li class="nav-item">
        <a aria-controls="Create" aria-selected="true" class="nav-link active" (click)="matchLineup()" data-toggle="tab" id="create-tab" role="tab">Alineación del partido</a>
    </li>
</ul>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-6">
    <div class="d-block">
        <h4 class="title-formacion">Formación en cancha</h4>
        <br/>
    </div>
    <div class="card" id="cardFormacion">
      <div class="card-body">
          <ng-container *ngFor="let partido of listmatch">
              <ng-container *ngFor="let match of listAlineacion1">
              <div class="match-lineup">
                  <div class="row justify-content-md-center" id="row-equipo">
                      <img src="{{partido.bandera1}}" alt="{{partido.equipo1}" class="img-team">
                      <h4><strong>{{partido.equipo1}}</strong></h4>
                  </div>
                  <ng-container *ngFor="let player of match.players">
                      <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='arquero'">
                          <div class="row justify-content-md-center">
                              <div class="col-arquero">
                                  <img src="../../../../assets/images/player.png" class="img-lineup">
                                  <label class="player-name">{{player.numero}}</label>
                              </div>
                          </div>
                      </ng-container>
                  </ng-container>
                  <div class="row justify-content-md-center">
                      <ng-container *ngFor="let player of match.players">
                      <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor1'">
                          <div class="col col-jugador">
                              <img src="../../../../assets/images/player.png" class="img-lineup">
                              <label class="player-name">{{player.numero}}</label>
                          </div>
                      </ng-container>
                      </ng-container>
                      <ng-container *ngFor="let player of match.players">
                          <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor2'">
                              <div class="col col-jugador">
                                  <img src="../../../../assets/images/player.png" class="img-lineup">
                                  <label class="player-name">{{player.numero}}</label>
                              </div>
                          </ng-container>
                      </ng-container>
                      <ng-container *ngFor="let player of match.players">
                          <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor3'">
                              <div class="col col-jugador">
                                  <img src="../../../../assets/images/player.png" class="img-lineup">
                                  <label class="player-name">{{player.numero}}</label>
                              </div>
                          </ng-container>
                      </ng-container>
                      <ng-container *ngFor="let player of match.players">
                          <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor4'">
                              <div class="col col-jugador">
                                  <img src="../../../../assets/images/player.png" class="img-lineup">
                                  <label class="player-name">{{player.numero}}</label>
                              </div>
                          </ng-container>
                      </ng-container>
                  </div>
                  <div class="row justify-content-md-center">
                      <ng-container *ngFor="let player of match.players">
                          <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista1'">
                              <div class="col col-jugador">
                                  <img src="../../../../assets/images/player.png" class="img-lineup">
                                  <label class="player-name">{{player.numero}}</label>
                              </div>
                          </ng-container>
                          </ng-container>
                          <ng-container *ngFor="let player of match.players">
                              <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista2'">
                                  <div class="col col-jugador">
                                      <img src="../../../../assets/images/player.png" class="img-lineup">
                                      <label class="player-name">{{player.numero}}</label>
                                  </div>
                              </ng-container>
                          </ng-container>
                          <ng-container *ngFor="let player of match.players">
                              <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista3'">
                                  <div class="col col-jugador">
                                      <img src="../../../../assets/images/player.png" class="img-lineup">
                                      <label class="player-name">{{player.numero}}</label>
                                  </div>
                              </ng-container>
                          </ng-container>
                      </div>
                  <div class="row justify-content-md-center">
                      <ng-container *ngFor="let player of match.players">
                          <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero1'">
                              <div class="col col-jugador">
                                  <img src="../../../../assets/images/player.png" class="img-lineup">
                                  <label class="player-name">{{player.numero}}</label>
                              </div>
                          </ng-container>
                          </ng-container>
                          <ng-container *ngFor="let player of match.players">
                              <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero2'">
                                  <div class="col col-jugador">
                                      <img src="../../../../assets/images/player.png" class="img-lineup">
                                      <label class="player-name">{{player.numero}}</label>
                                  </div>
                              </ng-container>
                          </ng-container>
                          <ng-container *ngFor="let player of match.players">
                              <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero3'">
                                  <div class="col col-jugador">
                                      <img src="../../../../assets/images/player.png" class="img-lineup">
                                      <label class="player-name">{{player.numero}}</label>
                                  </div>
                              </ng-container>
                          </ng-container>
                  </div>
              </div>
              </ng-container>
        </ng-container>


      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="d-block">Crear Alineación</div>
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Pasos:</h6>
        <!--<p class="card-text"></p>-->
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputJugador" class="label-pasos">1. Seleccione el jugador</label>
              <select id="inputJugador" class="form-control">
                <option selected>Elegir...</option>
                <ng-container *ngFor="let match of listAlineacion1">
                    <option *ngFor="let player of match.players">{{player.nombre}}</option>
                </ng-container>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPosicion" class="label-pasos">2. Seleccione su posición</label>
              <select id="inputPosicion" class="form-control">
                <option selected>Elegir...</option>
                <option>Arquero</option>
                <option>Delantero</option>
                <option>Medio Campista</option>
                <option>Defensa</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for id="rbTitular">3. Seleccione si será <strong>Titular</strong> ó <strong>Suplente</strong></label>
            <br>
            <div class="estatus-container">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rbTitular" value="titular">
                <label class="form-check-label" for="rbTitutar">Titular</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rbSuplente" value="suplente">
                <label class="form-check-label" for="rbSuplente">Suplente</label>
                </div>
            </div>
          </div>
          <div class="form-row">
            <a class="btn btn-primary btn-agregar" (click)="agregarJugador1()">Agregar Jugador</a>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputState">4. Capitán</label>
              <select id="inputState" class="form-control">
                <option selected disabled>Elegir...</option>
                <ng-container *ngFor="let match of listAlineacion1">
                    <option *ngFor="let player of match.players">{{player.nombre}}</option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="col">
            <button type="submit" class="btn btn-primary">Salir</button>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Guardar Alineación</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row"> <!---Alineacion 2do Equipo-->
    <div class="col-sm-6">
      <div class="d-block">
         <h4 class="title-formacion">Formación en cancha</h4>
         <br/>
      </div>
      <div class="card" id="cardFormacion">
        <div class="card-body">
            <ng-container *ngFor="let partido of listmatch">
                <ng-container *ngFor="let match of listAlineacion2">
                <div class="match-lineup">
                    <div class="row justify-content-md-center" id="row-equipo">
                        <img src="{{partido.bandera2}}" alt="{{partido.equipo2}" class="img-team"><h4><strong>{{partido.equipo2}}</strong></h4>
                    </div>
                    <ng-container *ngFor="let player of match.players">
                        <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='arquero'">
                            <div class="row justify-content-md-center">
                                <div class="col-arquero">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}</label>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <div class="row justify-content-md-center">
                        <ng-container *ngFor="let player of match.players">
                        <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor1'">
                            <div class="col col-jugador">
                                <img src="../../../../assets/images/player.png" class="img-lineup">
                                <label class="player-name">{{player.numero}}</label>
                            </div>
                        </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let player of match.players">
                            <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor2'">
                                <div class="col col-jugador">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}</label>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let player of match.players">
                            <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor3'">
                                <div class="col col-jugador">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}</label>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let player of match.players">
                            <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor4'">
                                <div class="col col-jugador">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}</label>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="row justify-content-md-center">
                        <ng-container *ngFor="let player of match.players">
                            <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista1'">
                                <div class="col col-jugador">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}</label>
                                </div>
                            </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let player of match.players">
                                <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista2'">
                                    <div class="col col-jugador">
                                        <img src="../../../../assets/images/player.png" class="img-lineup">
                                        <label class="player-name">{{player.numero}}</label>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let player of match.players">
                                <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista3'">
                                    <div class="col col-jugador">
                                        <img src="../../../../assets/images/player.png" class="img-lineup">
                                        <label class="player-name">{{player.numero}}</label>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    <div class="row justify-content-md-center">
                        <ng-container *ngFor="let player of match.players">
                            <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero1'">
                                <div class="col col-jugador">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}</label>
                                </div>
                            </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let player of match.players">
                                <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero2'">
                                    <div class="col col-jugador">
                                        <img src="../../../../assets/images/player.png" class="img-lineup">
                                        <label class="player-name">{{player.numero}}</label>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let player of match.players">
                                <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero3'">
                                    <div class="col col-jugador">
                                        <img src="../../../../assets/images/player.png" class="img-lineup">
                                        <label class="player-name">{{player.numero}}</label>
                                    </div>
                                </ng-container>
                            </ng-container>
                    </div>
                </div>
                </ng-container>
          </ng-container>


        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="d-block">Crear Alineación</div>
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Pasos:</h6>
          <!--<p class="card-text"></p>-->
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputJugador" class="label-pasos">1. Seleccione el jugador</label>
                <select id="inputJugador" class="form-control">
                  <option selected>Elegir...</option>
                  <ng-container *ngFor="let match of listAlineacion2">
                      <option *ngFor="let player of match.players">{{player.nombre}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPosicion" class="label-pasos">2. Seleccione su posición</label>
                <select id="inputPosicion" class="form-control">
                  <option selected>Elegir...</option>
                  <option>Arquero</option>
                  <option>Delantero</option>
                  <option>Medio Campista</option>
                  <option>Defensa</option>
                </select>
              </div>
            </div>

            <div class="form-group">
                <label for id="rbTitular">3. Seleccione si será <strong>Titular</strong> ó <strong>Suplente</strong></label>
                <br>
                <div class="estatus-container">
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rbTitular" value="titular">
                    <label class="form-check-label" for="rbTitutar">Titular</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rbSuplente" value="suplente">
                    <label class="form-check-label" for="rbSuplente">Suplente</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <a class="btn btn-primary btn-agregar" (click)="agregarJugador1()">Agregar Jugador</a>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputState">4. Capitán</label>
                    <select id="inputState" class="form-control">
                    <option selected disabled>Elegir...</option>
                    <ng-container *ngFor="let match of listAlineacion1">
                        <option *ngFor="let player of match.players">{{player.nombre}}</option>
                    </ng-container>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <a class="btn btn-primary btn-agregar" (click)="agregarJugador2()">Agregar Jugador</a>
            </div>
            <div class="form-row col-md-12">
              <div class="col">
              <button type="submit" class="btn btn-primary">Salir</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary">Guardar Alineación</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
