<p>
  estpartido works!
</p>


<div>

<div class="card-header d-flex pr-0" >
  <h5 class="card-title mb-0" >Estadísticas del Partido</h5>
  <div class="card-actions ml-auto py-0" > 
    </div>
  </div>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col" style="text-align: center">Rusia</th>
        <th scope="col" style="text-align: center"><img src="../../../assets/banderas/rus.png" class="img-thumbnail" alt="Responsive image"></th>
        <th scope="col">3</th>
        <th scope="col">1</th>
        <th scope="col" style="text-align: center"><img src="../../../assets/banderas/ksa.png" class="img-thumbnail" alt="Responsive image"></th>
        <th scope="col" style="text-align: center">Arabia Saudi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Tiros al arco</th>
        <td style="text-align: center">9</td>
        <td></td>
        <td></td>
        <td style="text-align: center">3</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Tiros</th>
        <td style="text-align: center">19</td>
        <td></td>
        <td></td>
        <td style="text-align: center">12</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Posesión</th>
        <td style="text-align: center">59%</td>
        <td></td>
        <td></td>
        <td style="text-align: center">41%</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
          <th scope="row">Tarjetas Amarillas</th>
          <td style="text-align: center">0</td>
          <td></td>
          <td></td>
          <td style="text-align: center">2</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
            <th scope="row">Tarjetas Rojas</th>
            <td style="text-align: center">1</td>
            <td></td>
            <td></td>
            <td style="text-align: center">3</td>
           <td></td>
            <td></td>
          </tr>
    </tbody>
  </table>




</div>



