

<div class="central">

    <h1>Luzhniki Stadium 14 Jun. 2018 18:00 Hora Local</h1>
    <h1>FIN DEL PARTIDO</h1>
    <hr/>
    <h1>Estadísticas del Partido</h1>

  <table class="table table-borderless" style="margin-left: 5%">
    <thead>
      <tr style="background-color:lightgray">
        <th scope="col" class="estilo-nombre-pais">Rusia</th>
        <th scope="col" style="text-align: center"><img src="../../../assets/banderas/rus.png" class="img-thumbnail" alt="Responsive image"></th>
        <th scope="col" class="estilo-marcador">3</th>
        <th scope="col" class="estilo-marcador">1</th>
        <th scope="col" style="text-align: center"><img src="../../../assets/banderas/ksa.png" class="img-thumbnail" alt="Responsive image"></th>
        <th scope="col" class="estilo-nombre-pais">Arabia Saudi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Tiros al arco</th>
        <td style="text-align: center">9</td>
        <td class="col-2" style="width: 30%" >
          <div class="progress progress-margin">
          <div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
        </div></td>
        <td></td>
        <td style="text-align: center">3</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Tiros</th>
        <td style="text-align: center">19</td>
        <td class="col-2" style="width: 30%">
            <div class="progress progress-margin">
            <div class="progress-bar bg-info" role="progressbar" style="width: 63%" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"></div>
          </div></td>
        <td></td>
        <td style="text-align: center">12</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Posesión</th>
        <td style="text-align: center">59%</td>
        <td class="col-2" style="width: 30%">
            <div class="progress progress-margin">
            <div class="progress-bar bg-info" role="progressbar" style="width: 59%" aria-valuenow="59" aria-valuemin="0" aria-valuemax="100"></div>
          </div></td>
        <td></td>
        <td style="text-align: center">41%</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
          <th scope="row">Tarjetas Amarillas</th>
          <td style="text-align: center">0</td>
          <td class="col-2" style="width: 30%">
              <div class="progress progress-margin">
              <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div></td>
          <td></td>
          <td style="text-align: center">2</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
            <th scope="row">Tarjetas Rojas</th>
            <td style="text-align: center">1</td>
            <td class="col-2" style="width: 30%">
                <div class="progress progress-margin">
                <div class="progress-bar bg-info" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
              </div></td>
            <td></td>
            <td style="text-align: center">3</td>
           <td></td>
            <td></td>
          </tr>
    </tbody>
  </table>

</div>



