<ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
    <li class="nav-item">
        <a aria-controls="groups" aria-selected="false" class="nav-link"  data-toggle="tab" id="groups-tab" role="tab" (click)="faseGrupos()">Fase de Grupos</a>
    </li>
    <li class="nav-item">
        <a aria-controls="details" aria-selected="true" class="nav-link active" data-toggle="tab"  id="details-tab" role="tab">Partido</a>
    </li>
</ul>

<div *ngIf="partido" class="container">
    <h1>Datos del partido</h1>
    <hr>
    <br>
    <div class="row">
        <div class="col-sm">
           <h2>{{ partido.Equipo1.Pais | titlecase }}</h2>
        </div>
        <div class="col-sm">
            <h2>vs</h2>
        </div>
        <div class="col-sm">
            <h2>{{ partido.Equipo2.Pais | titlecase }}</h2>
        </div>
    </div>
</div>

<hr>
<br>

<div class="card col-sm-6 offset-sm-3">
  <div class="card-body">
    <h3>Formación de los equipos</h3>
  </div>
</div>

<br>

<div *ngIf="partido" class="container">
    <h3><strong>{{ partido.Equipo1.Pais | titlecase }}</strong></h3>
    <app-ver-alineacion></app-ver-alineacion>

    <br><hr><br>

    <h3><strong>{{ partido.Equipo2.Pais | titlecase }}</strong></h3>
    <app-ver-alineacion></app-ver-alineacion>
</div>

<br><hr><br>

<div class="card col-sm-6 offset-sm-3">
  <div class="card-body">
    <h3>Alineación de los equipos</h3>
  </div>
</div>

<br>

<div *ngIf="partido" class="row alineacion">
    <div class="offset-sm-2 col-sm-3">
        <div class="container-info">
            <h3><strong>{{ partido.Equipo1.Pais | titlecase }}</strong></h3>
            <ng-container *ngFor="let player of partido.Alineaciones">
                <ng-container *ngIf="partido.Equipo1.Id == player.Equipo.Id">
                    <div class="celda"  *ngIf="player.EsTitular">
                        <label class="player-num">{{player.Jugador.Numero}}</label>&nbsp;
                        <label class="player-name"><strong>{{player.Jugador.Nombre}}</strong></label>
                    </div>
                </ng-container>
            </ng-container>
            <h5 class="suplente"><strong>Suplentes</strong></h5>
            <ng-container *ngFor="let player of partido.Alineaciones">
                <ng-container *ngIf="partido.Equipo1.Id == player.Equipo.Id">
                    <div class="celda" *ngIf="!player.EsTitular">
                        <label class="player-num">{{player.Jugador.Numero}}</label>&nbsp;
                        <label class="player-name"><strong>{{player.Jugador.Nombre}}</strong></label>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="offset-sm-2 col-sm-3">
        <div class="container-info">
            <h3><strong>{{ partido.Equipo2.Pais | titlecase }}</strong></h3>
            <ng-container *ngFor="let player of partido.Alineaciones">
                <ng-container *ngIf="partido.Equipo2.Id == player.Equipo.Id">
                    <div class="celda" *ngIf="player.EsTitular">
                        <label class="player-num">{{player.Jugador.Numero}}</label>&nbsp;
                        <label class="player-name"><strong>{{player.Jugador.Nombre}}</strong></label>
                    </div>
                </ng-container>
            </ng-container>
            <h5 class="suplente">
                <strong>Suplentes</strong>
            </h5>
            <ng-container *ngFor="let player of partido.Alineaciones">
                <ng-container *ngIf="partido.Equipo2.Id == player.Equipo.Id">
                    <div class="celda" *ngIf="!player.EsTitular">
                        <label class="player-num">{{player.Jugador.Numero}}</label>&nbsp;
                        <label class="player-name"><strong>{{player.Jugador.Nombre}}</strong></label>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<br>
<ul class="nav nav-justified nav-tabs col-sm-4 offset-sm-4 back" id="justifiedTab" role="tablist" (click)="goBack()">
    <li class="nav-item">
        <a aria-controls="groups" aria-selected="false" class="nav-link"  data-toggle="tab" id="groups-tab" role="tab" (click)="faseGrupos()">Regresar</a>
    </li>
</ul>