<!--<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">PARTIDOS</span>
  </nav>-->

  <ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
    <li class="nav-item">
      <a aria-controls="groups" aria-selected="false" class="nav-link"  data-toggle="tab" id="groups-tab" role="tab" (click)="faseGrupos()">Fase de Grupos</a>
    </li>
    <li class="nav-item">
        <a aria-controls="details" aria-selected="true" class="nav-link active" data-toggle="tab"  id="details-tab" role="tab">Partido</a>
      </li>
  </ul>
  <div class="container-fluid">
  <div class="tab-content" id="justifiedTabContent">
    <div aria-labelledby="details-tab" class="tab-pane fade show active" ng-show="tab === 1" id="details"  role="tabpanel" >
      <div class="container" *ngFor="let match of listmatch">
        <div class="match-container">
        <div class="match-info">
            {{match.estadio}}, {{match.ciudad}} {{match.fecha}} Hora: {{match.hora}}
        </div>
        <div class="match-phase"> <strong>{{match.fase}}</strong></div>
        <div class="match-result"> HORA DEL PARTIDO </div>
        <div class="row" id="match-header">
          <div class="col-sm-4">
            <h4> <img src="{{match.bandera1}}" alt="{{match.equipo1}}" class="img-thumbnail">
               {{match.equipo1}} </h4>
            </div>
            <div class="col-sm-4">
               <h4>
                 <label class="match-time">{{match.hora}}</label>
               </h4>
            </div>
            <div class="col-sm-4">
                <h4>{{match.equipo2}}
                    <img src="{{match.bandera2}}" alt="{{match.equipo2}" class="img-thumbnail">
                </h4>
              </div>

          </div>
        </div>

        <div class="d-block">FORMACIÓN</div>
        <hr>
        <ng-container *ngFor="let partido of listmatch">
            <ng-container *ngFor="let match of listAlineacion1">
            <div class="match-lineup">
            <img src="../../../../assets/images/field.png" class="img-field">
                <div class="row justify-content-md-center" id="row-equipo">
                    <img src="{{partido.bandera1}}" alt="{{partido.equipo1}" class="img-team"><h4><strong>{{partido.equipo1}}</strong></h4>
                </div>
                <ng-container *ngFor="let player of match.players">
                    <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='arquero'">
                        <div class="row justify-content-md-center">
                            <div class="col-arquero">
                                <img src="../../../../assets/images/player.png" class="img-lineup">
                                <label class="player-name">{{player.numero}}. {{player.nombre}}</label>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="row justify-content-md-center">
                    <ng-container *ngFor="let player of match.players">
                    <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor1'">
                        <div class="col">
                            <img src="../../../../assets/images/player.png" class="img-lineup">
                            <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                        </div>
                    </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let player of match.players">
                        <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor2'">
                            <div class="col">
                                <img src="../../../../assets/images/player.png" class="img-lineup">
                                <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let player of match.players">
                        <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor3'">
                            <div class="col">
                                <img src="../../../../assets/images/player.png" class="img-lineup">
                                <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let player of match.players">
                        <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor4'">
                            <div class="col">
                                <img src="../../../../assets/images/player.png" class="img-lineup">
                                <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="row justify-content-md-center">
                    <ng-container *ngFor="let player of match.players">
                        <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista1'">
                            <div class="col">
                                <img src="../../../../assets/images/player.png" class="img-lineup">
                                <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                            </div>
                        </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let player of match.players">
                            <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista2'">
                                <div class="col">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let player of match.players">
                            <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista3'">
                                <div class="col">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                <div class="row justify-content-md-center">
                    <ng-container *ngFor="let player of match.players">
                        <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero1'">
                            <div class="col">
                                <img src="../../../../assets/images/player.png" class="img-lineup">
                                <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                            </div>
                        </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let player of match.players">
                            <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero2'">
                                <div class="col">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let player of match.players">
                            <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero3'">
                                <div class="col">
                                    <img src="../../../../assets/images/player.png" class="img-lineup">
                                    <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                                </div>
                            </ng-container>
                        </ng-container>
                </div>
            </div>
            </ng-container>
        <div class="match-lineup" *ngFor="let match of listAlineacion2">
                <img src="../../../../assets/images/field.png" class="img-field">
                   <div class="row justify-content-md-center" id="row-equipo">
                         <img src="{{partido.bandera2}}" alt="{{partido.equipo2}" class="img-team"><h4><strong>{{partido.equipo2}}</strong></h4>
                   </div>
                   <ng-container *ngFor="let player of match.players">
                     <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='arquero'">
                       <div class="row justify-content-md-center">
                           <div class="col-arquero">
                               <img src="../../../../assets/images/player.png" class="img-lineup">
                               <label class="player-name">{{player.numero}}. {{player.nombre}}</label>
                           </div>
                       </div>
                     </ng-container>
                   </ng-container>
                     <div class="row justify-content-md-center">
                       <ng-container *ngFor="let player of match.players">
                         <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor1'">
                           <div class="col">
                               <img src="../../../../assets/images/player.png" class="img-lineup">
                               <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                           </div>
                         </ng-container>
                       </ng-container>
                       <ng-container *ngFor="let player of match.players">
                           <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor2'">
                               <div class="col">
                                   <img src="../../../../assets/images/player.png" class="img-lineup">
                                   <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                               </div>
                             </ng-container>
                       </ng-container>
                       <ng-container *ngFor="let player of match.players">
                           <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor3'">
                               <div class="col">
                                   <img src="../../../../assets/images/player.png" class="img-lineup">
                                   <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                               </div>
                             </ng-container>
                       </ng-container>
                       <ng-container *ngFor="let player of match.players">
                           <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='defensor4'">
                               <div class="col">
                                   <img src="../../../../assets/images/player.png" class="img-lineup">
                                   <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                               </div>
                             </ng-container>
                       </ng-container>
                     </div>
                     <div class="row justify-content-md-center">
                         <ng-container *ngFor="let player of match.players">
                             <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista1'">
                               <div class="col">
                                   <img src="../../../../assets/images/player.png" class="img-lineup">
                                   <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                               </div>
                             </ng-container>
                           </ng-container>
                           <ng-container *ngFor="let player of match.players">
                               <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista2'">
                                   <div class="col">
                                       <img src="../../../../assets/images/player.png" class="img-lineup">
                                       <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                                   </div>
                                 </ng-container>
                           </ng-container>
                           <ng-container *ngFor="let player of match.players">
                               <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='medio campista3'">
                                   <div class="col">
                                       <img src="../../../../assets/images/player.png" class="img-lineup">
                                       <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                                   </div>
                                 </ng-container>
                           </ng-container>
                     </div>
                     <div class="row justify-content-md-center">
                         <ng-container *ngFor="let player of match.players">
                             <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero1'">
                               <div class="col">
                                   <img src="../../../../assets/images/player.png" class="img-lineup">
                                   <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                               </div>
                             </ng-container>
                           </ng-container>
                           <ng-container *ngFor="let player of match.players">
                               <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero2'">
                                   <div class="col">
                                       <img src="../../../../assets/images/player.png" class="img-lineup">
                                       <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                                   </div>
                                 </ng-container>
                           </ng-container>
                           <ng-container *ngFor="let player of match.players">
                               <ng-container  *ngIf="player.estado == 'titular' && player.posicion=='delantero3'">
                                   <div class="col">
                                       <img src="../../../../assets/images/player.png" class="img-lineup">
                                       <label class="player-name">{{player.numero}}.  {{player.nombre}}</label>
                                   </div>
                                 </ng-container>
                           </ng-container>
                     </div>
               </div>
      </ng-container>
        <div class="d-block">ALINEACIÓN</div>
        <hr>
            <div class="row" *ngFor="let partido of listmatch">
                <div class="col-sm-6" *ngFor="let match of listAlineacion1">
                    <div class="container-info">
                   <div class="row">
                      <img src="{{partido.bandera1}}" alt="{{partido.equipo1}" class="img-team">
                      <h4><strong>{{match.equipo}}</strong></h4>
                   </div>
                   <ng-container *ngFor="let player of match.players">
                      <div>
                            <label class="player-num"  *ngIf="player.estado == 'titular'">{{player.numero}}</label><label class="player-name" *ngIf="player.estado == 'titular'">{{player.nombre}}</label>
                      </div>
                   </ng-container>
                   <br>
                   <h5><strong>Suplentes</strong></h5>
                   <ng-container  *ngFor="let player of match.players">
                      <div>
                        <label class="player-num"  *ngIf="player.estado == 'suplente'">{{player.numero}}</label><label class="player-name" *ngIf="player.estado == 'suplente'">{{player.nombre}}</label>
                      </div>
                   </ng-container>
                    </div>
                </div>
                <div class="col-sm-6" *ngFor="let match of listAlineacion2">
                    <div class="container-info">
                    <div class="row">
                      <img src="{{partido.bandera2}}" alt="{{partido.equipo2}" class="img-team">
                      <h4><strong>{{match.equipo}}</strong></h4>
                    </div>
                    <ng-container *ngFor="let player of match.players">
                        <div>
                              <label class="player-num"  *ngIf="player.estado == 'titular'">{{player.numero}}</label><label class="player-name" *ngIf="player.estado == 'titular'">{{player.nombre}}</label>
                        </div>
                     </ng-container>
                    <br>
                      <h5><strong>Suplentes</strong></h5>
                      <ng-container  *ngFor="let player of match.players">
                          <div>
                            <label class="player-num"  *ngIf="player.estado == 'suplente'">{{player.numero}}</label><label class="player-name" *ngIf="player.estado == 'suplente'">{{player.nombre}}</label>
                          </div>
                       </ng-container>
                    </div>
                </div>
            </div>
         </div>

      </div>
    </div>
  </div>
  
