.nav, .nav-justified, .nav-tabs {
    background-color: #A11D1B;
    color: #fff;


}
.nav-tabs a {
    color: #fff;
}
.container {
    text-align: center;
}
.card {
    background-color: #0b486b;
    color: white;
    border-radius: 15px;
    text-align: center;
}
.card-body {
    padding: 10px;
}
.alineacion {
    text-align: center;
}
.celda {
    border: 1px solid black;
    background-color: lightgrey;
}
.suplente {
    margin-top: 3%;
    margin-bottom: 0;
}
.player-name {
    color: black;
    font-size: 12px;
}
.back {
    margin-top: 3%;
    border-radius: 15px;
    cursor: pointer;
}