.card {
    width: 45%;
    margin: 0 auto;
    border: solid 1px;
    color: white;
}
  
.container-fluid{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
background-attachment: fixed;
    background-image: url("/../../../assets/images/background-russia.jpg");
    height: auto;
}

.btn {
background-color: #A11D1B;
color: #fff;
width: 100%;
}
  
.nav-tabs a{
    color: #fff;
}
  
.nav, .nav-justified, .nav-tabs{
    background-color: #A11D1B;
    color: #fff;
}

form h3 {
    color: white;
    text-align: center;
    margin-bottom: 3%;
}