
<div class="central">

  
    <h1>Predicciones de Equipo</h1>
    <hr/>

    <div class="drop-label-estilo">

      <div style="float: left"><h4>Seleccione equipo</h4></div>
    

    <div style="margin-left: 30%">
      <button class="btn btn-primary dropdown-toggle dropdown-estilo" type="button" data-toggle="dropdown">Equipo
      <span class="caret"></span></button>
      <ul class="dropdown-menu font-estilo">
        <li>España</li>
        <li>Inglaterra</li>
        <li>Nigeria</li>
      </ul>
    </div>
  </div>


  <div style="margin-left: 35%; width: 30%;margin-top:2%">
  <label for="picker" class="centrar">A basic example:</label>
  <input class="form-control centrar" id="picker" placeholder="Pick a date" type="text">
  </div>

    <div>
        <table class="table table-hover table-estilo">
            <thead>
              <tr>
                <th scope="col">Predicción</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Probabilidad que gane el juego</th>
                <td>50%</td>
              </tr>
              <tr>
                <th scope="row">Probabilidad que empate el juego</th>
                <td>20%</td>
              </tr>
              <tr>
                <th scope="row">Probabilidad que meta un gol</th>
                <td>15%</td>
              </tr>
              <tr>
                  <th scope="row">Probabilidad que no meta un gol</th>
                  <td>3%</td>
                </tr>
                
            </tbody>
          </table>


    
    </div>




</div>