.container-fluid {
  padding: 0 30px 25px 30px;
}

a.link {
  color: #455a64;
}

a.link:hover, a.link:focus {
  color: #009efb;
}

/*******************
Page titles
*******************/

.page-titles {
  background: #ffffff;
  margin: 0 -30px 30px;
  padding: 15px;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.page-titles h2 {
  margin-bottom: 0px;
  margin-top: 8px;
}

.page-titles .breadcrumb {
  padding: 0px;
  background: transparent;
  font-size: 14px;
}

.page-titles .breadcrumb li {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-titles .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: "\e649";
  font-family: themify;
  color: #a6b7bf;
  font-size: 11px;
}

.breadcrumb {
  margin-bottom: 0px;
}

.page-titles .breadcrumb .breadcrumb-item.active {
  color: #99abb4;
}

.page-titles .justify-content-end:last-child .d-flex {
  margin-right: 10px;
}

/*******************
 Card title
*******************/

.card {
  margin-bottom: 30px;
}

.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 15px;
  color: #99abb4;
}

.card-inverse .card-blockquote .blockquote-footer, .card-inverse .card-link, .card-inverse .card-subtitle, .card-inverse .card-text {
  color: rgba(255, 255, 255, 0.65);
}

.card-success {
  background: #26c6da;
  border-color: #26c6da;
}

.card-danger {
  background: #fc4b6c;
  border-color: #fc4b6c;
}

.card-warning {
  background: #ffb22b;
  border-color: #ffb22b;
}

.card-info {
  background: #1e88e5;
  border-color: #1e88e5;
}

.card-primary {
  background: #7460ee;
  border-color: #7460ee;
}

.card-dark {
  background: #2f3d4a;
  border-color: #2f3d4a;
}

.card-megna {
  background: #00897b;
  border-color: #00897b;
}

.card-block {
  padding: 15px 0px;
}

/*little-profile*/

.little-profile .pro-img {
  margin-top: -80px;
  margin-bottom: 20px;
}

.little-profile .pro-img img {
  width: 128px;
  height: 128px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

/*============================================================== 
Formularios Material page
 ============================================================== */

/*Material inputs*/

.form-material .form-group {
  overflow: hidden;
}

.form-material .form-control {
  background-color: transparent;
  background-position: center bottom, center calc(100% - 1px);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  padding: 0;
  -webkit-transition: background 0s ease-out 0s;
  -o-transition: background 0s ease-out 0s;
  transition: background 0s ease-out 0s;
}

.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009efb), to(#009efb)), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));
  background-image: -webkit-linear-gradient(#009efb, #009efb), -webkit-linear-gradient(#d9d9d9, #d9d9d9);
  background-image: -o-linear-gradient(#009efb, #009efb), -o-linear-gradient(#d9d9d9, #d9d9d9);
  background-image: linear-gradient(#009efb, #009efb), linear-gradient(#d9d9d9, #d9d9d9);
  border: 0 none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: none;
}

.form-material .form-control.focus, .form-material .form-control:focus {
  background-size: 100% 2px, 100% 1px;
  outline: 0 none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.form-control-line .form-group {
  overflow: hidden;
}

.form-control-line .form-control {
  border: 0px;
  border-radius: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #d9d9d9;
}

.form-control-line .form-control:focus {
  border-bottom: 1px solid #009efb;
}

/*******************
 Color & Text
*******************/

.text-themecolor {
  color: #009efb;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: normal;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-10 {
  font-size: 10px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: normal;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-10 {
  font-size: 10px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

/*******************
Paddings
*******************/

.p-0 {
  padding: 0px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-0 {
  padding-right: 0px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-t-0 {
  padding-top: 0px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-40 {
  padding-bottom: 40px;
}

/*******************
Margin
*******************/

.m-0 {
  margin: 0px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}