.container-fluid {
  padding: 0 30px 25px 30px; }

  .page-titles {
  background: #ffffff;
  margin: 0 -30px 30px;
  padding: 15px;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1); }
  .page-titles h3 {
    margin-bottom: 0px;
    margin-top: 8px; }
  .page-titles .breadcrumb {
    padding: 0px;
    background: transparent;
    font-size: 14px; }
    .page-titles .breadcrumb li {
      margin-top: 0px;
      margin-bottom: 0px; }
    .page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: "\e649";
      font-family: themify;
      color: #a6b7bf;
      font-size: 11px; }
    .page-titles .breadcrumb .breadcrumb-item.active {
      color: #99abb4; }

      .page-titles {
  padding-bottom: 20px; }

.page-titles .justify-content-end:last-child .d-flex {
  margin-right: 10px; }
  
  html body .text-themecolor {
  color: #009efb; }
<<<<<<< Updated upstream

  h2{
    color: #009efb;
  }
=======
>>>>>>> Stashed changes
