form {
    margin-left: 28%;
    margin-top: 8%;
    margin-bottom: 20%;
    width: 300px;
   padding: 10px;
   position: absolute;
}

.form-control:focus, .form-control-file:focus, .custom-select:focus {
   border-color: #02588E;
   box-shadow: inset 0 -2px 0 -1px #02588E;
   outline: 0;
}

.form-control:hover, .form-control-file:hover, .custom-select:hover {
   border-color: #02588E;
   box-shadow: inset 0 -2px 0 -1px #02588E;
   outline: 0;
}

.btn-signin{
   background-color: #A11D1B;
   margin-top: 1%;
}

.central{

margin-right: 25%;
    margin-left: 15%;
}