.fondo{
    background-color: #A11D1B;
    color: white;
    padding: 15px 15px;
    
}
.btnEstadio{
    background-color: #000000;
}
.btnAgregar{
    background-color: #1998e2;
    color: white;
}
.span3 {  
    height: 100% !important;
    overflow: scroll;
}​
.espacio{
    padding-top: 15px;
}
.oi { 
    padding-left: 10px; 
}
.oi-pencil{
    color:	#00BFFF;
}
.oi-eye{
    color:#D3D3D3;
}
.oi-trash{
    color:	#A52A2A;
}
.oi-plus{

    color: cyan;
}

.boton{

    background-color: #A11D1B;
    margin-left: 10px; 

}