<head>
	<meta charset="utf-8">	
	<meta name= "viewport" content= "width = device-width, initial-scale = 1">
</head>


<!--<div class="input-group mb-3 espacio">-->
<div class="container">
	<div class="row">	
		<div class="col-sm-2">
			<nav class="nav-sidebar">
				<ul class="nav">
					<li class="active"><a href="javascript:;">Juegos</a></li>
					<li><a href="javascript:;">Mis Apuestas</a></li>
					<li><a href="javascript:;">Modificar Apuesta</a></li>
					<li><a href="javascript:;">Eliminar Apuesta</a></li>
				</ul>
			</nav>
		</div>
	</div>

		<div class="tab-content " id="myTabContent">
		<div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="juegos-tab">...</div>
		<div class="tab-pane fade " id="apuestas" role="tabpanel" aria-labelledby="mis_apuestas-tab">...</div>
		<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="modificar_apuesta-tab">...</div>
		<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="eliminar_apuesta-tab">...</div>	 
			
			<table class=" table table-hover">				
                <thead class="thead-dark" class= "fondo" >
                    <tr >
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Equipos a enfrentarse</th>
                        <th>Estadio</th>
                        <th>Ciudad</th>
                        <th>Opciones</th>        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>23/4/2018</th>
                        <td>12:00 am</td>
                        <td>Equipo 1 VS Equipo 2</td>
                        <td>SPARTAK STADIUM</td>
                        <td>Moscú</td>
                        <td><button type="button" class="btn btn-raised btn-secondary btnPartido">Ver partido</button></td>      
                    </tr>
                    <tr>
                        <th>23/4/2018</th>
                        <td>15:00 pm</td>
                        <td>Equipo 3 VS Equipo 8</td>
                        <td>SAMARA ARENA</td>
                        <td>Samara</td>
                        <td><button type="button" class="btn btn-raised btn-secondary btnPartido">Ver partido</button></td>        
                    </tr>
                    <tr>
                        <th>23/4/2018</th>
                        <td>18:00 pm</td>
                        <td>Equipo 5 VS Equipo 4</td>
                        <td>KAZÁN ARENA</td>
                        <td>Kazán</td>
                        <td><button type="button" class="btn btn-raised btn-secondary btnPartido">Ver partido</button></td>		
                    </tr>
                </tbody>
			</table>							
		</div>			   
	<!--</div>-->
<!--</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
