

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="card">
    <div class="card-header d-flex pr-0">
      <h5 class="card-title mb-0">Card title</h5>
      <div class="card-actions ml-auto py-0">
      
        <div class="dropdown">
          <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline my-0" data-toggle="dropdown" id="cardTableDrop2" type="button"><i class="material-icons">more_vert</i></button>
          <div aria-labelledby="cardTableDrop2" class="dropdown-menu dropdown-menu-right menu">
            <a class="dropdown-item" >Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item" >Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Separated link</a>
          </div>
        </div>
      </div>
    </div>
    <table class="table mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  
  </div>
  <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Mundial Rusia 2018</a></li>
        <li><a href="#">Partido</a></li>
      </ul>
  </div>
