

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="card">
    <div class="card-header d-flex pr-0">
      <h5 class="card-title mb-0">Card title</h5>
      <div class="card-actions ml-auto py-0">
      
        <div class="dropdown">
          <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline my-0" data-toggle="dropdown" id="cardTableDrop2" type="button"><i class="material-icons">more_vert</i></button>
          <div aria-labelledby="cardTableDrop2" class="dropdown-menu dropdown-menu-right menu">
            <a class="dropdown-item" (click)="clickedgrupo(1)" >Grupo 1</a>
            <a class="dropdown-item" (click)="clickedgrupo(2)">Grupo 2</a>
            <a class="dropdown-item" (click)="clickedgrupo(3)">Grupo 3</a>
            
            <a class="dropdown-item" (click)="clickedgrupo(4)">Grupo 4</a>
            <a class="dropdown-item" (click)="clickedgrupo(5)">Grupo 5</a>
            <a class="dropdown-item" (click)="clickedgrupo(6)">Grupo 6</a>
            <a class="dropdown-item" (click)="clickedgrupo(7)">Grupo 7</a>
            <a class="dropdown-item" (click)="clickedgrupo(8)">Grupo 8</a>
          </div>
        </div>
      </div>
    </div>
    <table class="table mb-0">
      <thead>
        <tr>
          <th scope="col">Equipo</th>
          <th scope="col">PJ</th>
          <th scope="col">G</th>
          <th scope="col">E</th>
          <th scope="col">P</th>
          <th scope="col">GF</th>
          <th scope="col">GC</th>
          <th scope="col">+/-</th>
          <th scope="col">PTS</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let equipo of equipos" >
          <tr *ngIf="equipo.grupo == grupoactual" >
            <td>{{equipo.nombre}}</td>
            <td>{{equipo.pj}}</td>
            <td>{{equipo.g}}</td>
            <td>{{equipo.e}}</td>
            <td>{{equipo.p}}</td>
            <td>{{equipo.gf}}</td>
            <td>{{equipo.gc}}</td>
            <td>{{equipo.masmenos}}</td>
            <td>{{equipo.pts}}</td>
          </tr>
          </ng-container>
        </tbody>
    </table>
  
  </div>
  <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Mundial Rusia 2018</a></li>
        <li><a href="#">Partido</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
  </div>




 