h1{
    font-size: 50px;
    text-align: center;
    color: black;
    margin-top: 3%
    }

.dropdown-estilo{
    background-color: #A11D1B;
    width: 25%
 
}

.table-estilo{

    width: 50%;
    margin-left: 25%;
    margin-top: 5%

}

.drop-label-estilo{
margin-left: 35%

}

.font-estilo{
    color: black
}