.container-fluid{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../../assets/images/background-russia.jpg");
	height: 100vh;
	position: relative;
}

.img-logo-nav{
	width: 50px;
	height: 55px;
}

.row-cards {
	margin-top: 20px;
}

.btn-home {
	background-color: #A11D1B;
}

.title-box {
	color: black;
	text-align: left;
	font-size: 15px;
}

.text-box {
	text-align: left;
}

.no-padding{
	padding: 0;
}

/***************************** SIDEBAR ****************************/


/*.sidebar{
	background-color: white;
	height: 100%;
	border-right: 2px solid red;
}*/

.profile-image-sidebar{
	width: 80px;
	border-radius: 50px;
	box-shadow: 4px 4px 9px #cdcdcd;
	margin-top: 10%;
	margin-bottom: 5%;
}

.container-header{
	padding-top: 10%;
	height: 100%;
}

.sidebar-name-user{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}


/* otro sidebar */

.navbar-side {
    border: none;
    background-color: #ffffff;
    height: 100vh;
    box-shadow: 4px 4px 9px #cdcdcd;
}

.logo-sidebar{
	margin-bottom: 7%;
    margin-top: -13%;
}

.list-group-item{
	box-shadow: none;
}

.list-group-item:hover, .list-group-item:focus{
	background-color: #e06664;
}

.item-sidebar{
	border-bottom: 1px solid rgba(0,0,0,0.14);
}

.list-group-item > a{
	color: #A11D1B;
	font-weight: bold;
}

.list-group-item > a:hover{
	color: #ffffff;
	text-decoration: none;
}


#products, .sideItem{
	list-style-type: none;
}

    #products li > a, .sideItem li > a {
        color: #A8DBA8;
        font-weight: bold;
    }

#products li > a:hover, .sideItem li > a:hover{
	text-decoration: none;
	font-size: 16px;
}

#products li.active > a, .sideItem li.active > a{
	text-decoration: none;
}

#products li.active > a:hover, .sideItem li.active > a:hover{
	text-decoration: none;
}

#products li > a > i,.sideItem li > a > i {
    margin-right: 10px;
}

.icon-add-sidebar{
	color: #0B486B;
}

.icon-see-sidebar{
	color: #0B486B;
}


/****************/

/******************************************************************/

.profile-pic {
	width: 20px;
	border-radius: 100%;
	margin-right: 10px;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	z-index: 100;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	50% {
		opacity: 0.5;
		-webkit-transform: translateY(70px);
		-ms-transform: translateY(70px);
		transform: translateY(70px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(50px);
		-ms-transform: translateY(50px);
		transform: translateY(50px);
	}
}

.fadeInDown {
	animation-name: fadeInDown;
}
