.container-fluid{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background-image: url("../../assets/images/background1.jpg");*/
	height: 100vh;
	position: relative;
}

.row-cards {
	margin-top: 20px;
}

.btn-home {
	background-color: #A11D1B;
}

.title-box {
	color: black;
	text-align: left;
	font-size: 15px;
}

.text-box {
	text-align: left;
}

.no-padding{
	padding: 0;
}


/*************************** PANEL TITULAR ************************/

.card{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.headline{
	width: 100%;
    border-bottom: 5px solid #02588e;
	height: 66px;
	margin-bottom: 5%;
	margin-top: 3%;
}

.tittle{
	padding: 20px;
	color: #02588e;
	font-size: 23px;
	font-weight: bold;
}

.content-page{
	margin-top: 5%;
	margin-left: 3%;
}

.btn-global{
	background-color: #A11D1B;
	color: white;
}

.card-title{
	font-size: 28px;
	text-align: center;
}

.card-text{
	font-size: 16px;
}

.image-team, .image-player{
	width: auto;
	height: 200px;
}

.subtitle-card{
	font-weight: bold;
}

/*carousel and cards*/

.card-img-overlay{
	top: 0;
}


@media screen and (min-width: 980px) {
	.row-statistics{
		margin-left: 10%;
	}
}

@media screen and (max-width: 480px) {
	.card-statistic{
		margin-top: 5%;
	}
}