nav.navbar-light{
	background-color: #02588E;
	box-shadow: 9px 4px 4px rgba(0,0,0,0.35);
}

.nav {
	padding: 5px;
	box-shadow: 4px 4px 9px #cdcdcd;
}

.nav-link{
	color: #ffffff;
}

.navbar-brand{
	color: #ffffff;
}

.logo-nav{
	margin-top: 10px;
	margin-left: 25px;
}

/*.nav-tabs, .nav-link{
	padding: 15px 15px;
}*/

.nav-tabs .nav-link{
	padding: 15px 15px;
}

.nav-link:hover{
	background-color: #02588E;
	color: #ffffff;
}

.menu {
	position: absolute;
	margin: 15px;
	cursor: pointer;
	z-index: 50;
	color: blue;
}

.nav-tabs .nav-link.active {
    color: #02588E;
}

