.fondo{
    background-color: #A11D1B;
    color: white;
    padding: 15px 15px;
    
}
.btnEstadio{
    background-color: #000000;
}
.btnAgregar{
    background-color: #1998e2;
    color: white;
}
.span3 {  
    height: 80% !important;
    overflow: scroll;
}​
.espacio{
    padding-top: 15px;
}
.oi { 
    padding-left: 10px; 
}
.oi-pencil{
    color:	#00BFFF;
}
.oi-eye{
    color:#D3D3D3;
}
.oi-trash{
    color:	#A52A2A;
}
.container-fluid{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../../../assets/images/background-stadium.jpg");
	height: 100vh;
    position: relative;
    background-color: rgb(0, 0, 20);
}