
<div class = "">
<div class="input-group mb-3 espacio">
        <div class="input-group-prepend">
                <button type="button" class="btn btn-raised btn-secondary btnEstadio">Buscar</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
      
<table class="table table-bordered ">
    <thead class="thead-dark" class = "fondo">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Capacidad</th>
        <th scope="col">Clima</th>
        <th scope="col">Accion</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><a href="#">
                <span class="oi oi-pencil"></span>
            </a>
            <a href="/home/stadium/detalle/1">
                <span class="oi oi-eye "></span>
            </a>
            <a href="#">
                <span class="oi oi-trash "></span>
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><a href="#">
                <span class="oi oi-pencil"></span>
            </a>
            <a href="/home/stadium/detalle/1">
                <span class="oi oi-eye "></span>
            </a>
            <a href="#">
                <span class="oi oi-trash "></span>
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td><a href="#">
                <span class="oi oi-pencil"></span>
            </a>
            <a href="/home/stadium/detalle/1">
                <span class="oi oi-eye "></span>
            </a>
            <a href="#">
                <span class="oi oi-trash "></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</div>