<header class="menu">
  <form class="card">
  <h1 i18n="Traduccion de  agregar ciudad " style="color: black; font-size: 30px; text-align: center;">Agregar Ciudad i18n!</h1>
  <div class="form-group">
    <label i18n="Traduccion de nombre agregar ciudad" for="ImputNombre">Nombre i18n!</label>
    <input type="text" class="form-control" id="ImputNombre" placeholder="Ciudad">
  </div>
  <div class="form-group">
    <label i18n="Traduccion de poblacion agregar ciudad" for="ImputPoblacion">Población i18n!</label>
    <input type="number" class="form-control" id="ImputPoblacion" placeholder="Poblacion">
  </div>
  <div class="form-group">
      <label i18n="Traduccion de descripcion agregar ciudad" for="ImputDescripcion">Descripción i18n!</label>
      <input type="text" class="form-control" id="ImputDescripcion" placeholder="Descripcion">
    </div>
    <div class="form-group">
      <label i18n="Traduccion de descripcion agregar ciudad" for="ImputLocaliacion">Localización i18n!</label>
      <input type="text" class="form-control" id="ImputLocaliacion" placeholder="Localizacion">
    </div>
  <button i18n="Traduccion de b agregar ciudad" (click)="volver()" type="submit" class="btn btn-primary btn-signin">Agregar Ciudad</button>
  </form>
</header>
