/*.tab-content{
    
        overflow-y: scroll;
        height: 75%;
        position: relative;
    
}*/
    .nav, .nav-justified, .nav-tabs
    {
        background-color: #A11D1B;
        color: #fff;
        
        
    }
    
    .nav-tabs a{
        color: #fff;
    }
    
    .container-fluid{
        
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: local;
            background-image: url("../../../../assets/images/background-match.jpg");
            height: 100vh;
            position: relative;
            /*background-color: rgb(0, 0, 100);*/
            background-color: #fff;
        
        }
    .tab-content
    {
        padding-top: 1%;
        padding-bottom: 10%;
    }
    .container{
    
    margin-top: 1%;
    padding-top:20px;
    
    }

    .container-info{
        
        margin-top: 0px;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 5px;
        background-color: rgba(63,63,63,0.7);
        border-radius: 10px 10px 10px 10px;
    }
    .row{
       
        margin-bottom: 0px;
        padding-bottom: 20px;
        padding-top: 10px;
        color: #666;
     /*   color: #fff;*/
       
    }


   #match-header{
        border-bottom: 2px solid #bfbfbf;
       
    }
    /*
    .row hr{
        margin-top: 0px;
        width: 95%;
        font-size: 10px;
    }*/
    
    .img-thumbnail{
    
        margin: 0px 20px;
        width: 25%;
        height: 45%;
    }

    .d-block {
    
        margin-top: 50px;
        color: #fff;
        /*color: #3f3f3f;*/
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px 5px 5px 5px;
        background: #02588E;
        padding: 15px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    
    .col-sm-4 p{
    
        margin-left: 20px;
    }
    
    .col-sm-6{

        text-align: left;
        padding-top: 10px;
    }

     .match-time, .match-team, .match-position{
    
        font-size: 20px;
        color: #666;
        font-weight:  bold;
    }

    .match-score{
        padding-top: 10px;
        font-size: 30px;
        color: #666;
        font-weight:  bold;
    }

    .match-info, .match-phase, .row, .match-result{

        text-align: center;
    }
    
    .match-result{
        padding-top: 5px;
    }

    .img-team{

        margin: 0px 20px;
        width: 10;
        height: 20px;
    }
    .player-num{

        color: #9f9f9f;
        padding-left: 20px;
        padding-right: 15px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    .player-name{

        padding-bottom: 10px;
        color: #fff;
       /* color: #666;*/
        font-size: 16px;
    }
    
    .img-field{

        background-image: url("../../../../assets/images/field.png");
        position: relative;
        /*background-color: rgb(0, 0, 100);*/
        width: 95%;
        height: 95%;
      /*  margin-left: 35px;*/
      display: block;

   
    }
    .match-lineup .row{

        color: #fff;
    }

    .match-lineup .row{
        margin-left: 25%;
        margin-right: 25%;
        position: relative;
        display: block;
    }
/*
    .match-lineup{
        background-image:  url("../../../../assets/images/field.png");
        position: relative;
    }
*/