.nav {
    height: 100%;
    width: 20%;
    float: left;
}

.admin-menu {
	position: relative;
}

.admin-module-panel {
	position: fixed;
	height: 100%;
<<<<<<< HEAD
	width: 100%;
=======
	width: 80%;
>>>>>>> Develop
	left: 20%;
}