<div class="content-page">
    <div class="row justify-content-center">
        <div class="headline card">
            <h4 class="tittle">Estadísticas</h4>
        </div>
    </div>

    <div class="row row-statistics">
        <div class="col-md-6 col-sm-12">
            <div class="card card-statistic" style="width: 18rem;">
                <img class="card-img-top image-team" src="../../assets/images/equipos/equipo1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Brasil</h5>
                    <p class="subtitle-card goals">Goles: 5</p>
                    <p class="subtitle-card goals-against">Goles en contra: 8</p>
                    <p class="subtitle-card corner">Saques de esquina: 2</p>
                    <p class="subtitle-card shot">Tiro al arco: 3</p>
                    <p class="subtitle-card cards-game">Tarjeta amarilla: 2</p>
                    <p class="subtitle-card cards-game">Tarjeta roja: 2</p>
                    <p class="subtitle-card game-out">Fuera de juego: 2</p>
                    <p class="subtitle-card fails">Faltas: 2</p>
                    <p class="subtitle-card out">Fuera del arco: 5</p>
                </div>
                <button type="submit" class="btn btn-global">Ver más</button>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card card-statistic" style="width: 18rem;">
                <img class="card-img-top image-player" src="../../assets/images/jugadores/jugador1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cristiano Ronaldo</h5>
                    <p class="subtitle-card goals">Goles: 10</p>
                    <p class="subtitle-card assistent">Asistencias: 5</p>
                    <p class="subtitle-card participation">Tiempo total de participación: 8</p>
                    <p class="subtitle-card remates">Remates realizados: 2</p>
                    <p class="subtitle-card cards-game">Tarjeta amarilla: 2</p>
                    <p class="subtitle-card cards-game">Tarjeta roja: 0</p>
                    <p class="subtitle-card game-out">Fuera de juego: 5</p>
                    <p class="subtitle-card fails">Faltas: 2</p>
                    <p class="subtitle-card out">Fuera del arco: 5</p>
                    <!--estadisticas en caso de que jugador sea portero pedir luego-->
                </div>
                <button type="submit" class="btn btn-global">Ver más</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="headline card">
            <h4 class="tittle">Últimas apuestas</h4>
        </div>
    </div>
    <!-- aqui -->

    <div class="row justify-content-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Partido</th>
                    <th scope="col">logros</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
