<div class="central">

  <div>
    <h1>Escoger equipo</h1>
    <hr/>
  
    <div class="drop-label-estilo">
  
      <div style="float: left"><h4>Seleccione Equipo</h4></div>
    
  
      <div class="form-group form-estilo">
        <div >
          <select id='Pais' class="form-control font-estilo" >
            <ng-container *ngFor="let pais of paises; let i = index">
              <option value={{pais}}>{{pais}}</option>
            </ng-container>
          </select>
        </div>
    </div>
    </div>
  </div>
  
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Goles</th>
          <th scope="col">Tiros</th>
          <th scope="col">Tarjetas Amarillas</th>
          <th scope="col">Tarjetas Rojas</th>
          <th scope="col">Fueras de juego</th>
          <th scope="col">Faltas Recibidas</th>
          <th scope="col">Faltas Cometidas</th>
        </tr>
      </thead>
      <tbody>
     <!--   <ng-container *ngFor="let dato of datos; let i = index">-->
          <tr>
            <th scope="row">{{esta.goles}}</th>
            <td>{{esta.tiros}}</td>
            <td>{{esta.tarjetasA}}</td>
            <td>{{esta.tarjetasR}}</td>
            <td>{{esta.offsides}}</td>
            <td>{{esta.faltasR}}</td>
            <td>{{esta.faltasC}}</td>
          </tr>
     <!--   </ng-container> -->
      </tbody>
    </table>


  </div>

  
  </div>
  <h5>Ingrese el id del equipo y de click al boton para visualizar las estadisticas</h5>

  <input  [(ngModel)] = "variable">
  <button (click)="getEstadisticas()">button</button>