<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-md-4 col-sm-12">
      <form (ngSubmit)="onSubmit(Usuario);" #usuario="ngForm" class="card">
        <div class="image-logo">
          <div class="row justify-content-center">
            <div class="col-3">
              <img class="img-fluid" src="../../../assets/images/logo.png" alt="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputUser">* Usuario</label>
          <input matInput type="text" #nombreUsuario maxlength="20" [(ngModel)]="Usuario.nombreUsuario" name="NombreUsuario" required class="form-control" id="exampleInputUser" placeholder="Usuario">
        </div>

        <div class="form-group">
          <label for="exampleInputName">* Nombre</label>
          <input matInput type="text" #nombre maxlength="30" [(ngModel)]="Usuario.nombre" name="Nombre" required class="form-control" id="exampleInputName" placeholder="Nombre">
        </div>

        <div class="form-group">
          <label for="exampleInputLastname">* Apellido</label>
          <input matInput type="text" #apellido maxlength="30" [(ngModel)]="Usuario.apellido" name="Apellido" required class="form-control" id="exampleInputLastname" placeholder="Apellido">
        </div>

        <div class="form-group">
          <label for="exampleInputDate">* Fecha de nacimiento</label>
          <input matInput type="date" [(ngModel)]="Usuario.fechaNacimiento" name="FechaNacimiento" required class="form-control" id="exampleInputDate" placeholder="Fecha de nacimiento">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">* Correo electrónico</label>
          <input matInput type="email" [(ngModel)]="Usuario.correo" name="Correo" required class="form-control" id="exampleInputEmail" placeholder="Correo electrónico">
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Género</label>
          <select matInput [(ngModel)]="Usuario.genero" name="Genero" required class="form-control" id="exampleFormControlSelect1">
            <option>F</option>
            <option>M</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">* Contraseña</label>
          <input matInput type="password" #password [(ngModel)]="Usuario.password" name="Password" required class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword2">* Confirmar contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword2" required placeholder="Confirmar contraseña">
        </div>

        <button [disabled]="!usuario.form.valid" (click)="signin()" type="submit" class="btn btn-primary btn-signin">Registrarse</button>
      </form>
    </div>
  </div>
</div>