<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12">
      <form class="card">
        <div class="image-logo">
          <div class="row justify-content-center">
            <div class="col-3">
              <img class="img-fluid" src="../../../assets/images/logo.png" alt="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputpassword">Nueva contraseña</label>
          <input type="password" class="form-control" id="exampleInputpassword" placeholder="Nueva contraseña">

          <label for="exampleInputpassword2">Confirmar contraseña</label>
          <input type="password" class="form-control" id="exampleInputpassword2" placeholder="confirmar contraseña">
        </div>

        <button (click)="signin()" type="submit" class="btn btn-primary btn-signin">Guardar</button>
      </form>
    </div>
  </div>
</div>