form {
    margin: auto;
    margin-top: 20%;
    width: 55%;
    padding: 10px;
}

nav.navbar{
	background-color: #02588E;
	color: #ffffff;
}

.btn-nav{
	box-shadow: none;
	color: #ffffff;
	text-transform: none;
}

.item-border{
	border-right: 1px solid #ffffff;
}

.img-logo-nav{
	width: 50px;
	height: 55px;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

.carousel-inner{
	height: 100vh;
}