<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-md-4 col-sm-12">
      <form [formGroup]="formSignup" (ngSubmit)="OnSubmit(formSignup.value)" class="card">
        <div class="image-logo">
          <div class="row justify-content-center">
            <div class="col-3">
              <img class="img-fluid" src="../../../assets/images/logo.png" alt="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputUser">* Usuario</label>
          <input [formControl]="formSignup.controls['nombreUsuario']" type="text" class="form-control" id="exampleInputUser" placeholder="Usuario">
        </div>

        <div class="form-group">
          <label for="exampleInputName">* Nombre</label>
          <input [formControl]="formSignup.controls['nombre']" type="text" class="form-control" id="exampleInputName" placeholder="Nombre">
        </div>

        <div class="form-group">
          <label for="exampleInputLastname">* Apellido</label>
          <input [formControl]="formSignup.controls['apellido']" type="text" class="form-control" id="exampleInputLastname" placeholder="Apellido">
        </div>

        <div class="form-group">
          <label for="exampleInputDate">* Fecha de nacimiento</label>
          <input [formControl]="formSignup.controls['fechaNacimiento']" type="date" class="form-control" id="exampleInputDate" placeholder="Fecha de nacimiento">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">* Correo electrónico</label>
          <input [formControl]="formSignup.controls['correo']" type="email" class="form-control" id="exampleInputEmail" placeholder="Correo electrónico">
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Género</label>
          <select [formControl]="formSignup.controls['genero']" class="form-control" id="exampleFormControlSelect1">
            <option>F</option>
            <option>M</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">* Contraseña</label>
          <input [formControl]="formSignup.controls['password']" type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword2">* Confirmar contraseña</label>
          <input [formControl]="formSignup.controls['confirmPassword']" type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirmar contraseña">
        </div>

        <button type="submit" class="btn btn-primary btn-signin" [disabled]="!formSignup.valid||disabled">Registrarse</button>
      </form>
    </div>
  </div>
</div>