<!-- ============================================================== -->
<!-- Admin Apuestas -->
<!-- ============================================================== -->
<div class="row page-titles">
  <div class="col-md-12 col-12 align-self-center">
    <h2 class="text-themecolor m-b-0 m-t-0">Apuestas</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Inicio</a>
      </li>
      <li class="breadcrumb-item cursor" routerLink="/apuestas" routerLinkActive="active">Apuestas</li>
      <li class="breadcrumb-item active">Admin Apuestas</li>
    </ol>
  </div>
</div>

<div class="row">
  <!-- Column -->

  <div class="col-lg-6 col-xlg-6 col-md-6">
    <div class="card">

      <button (click)="AdministradorApuestas()" type="button" class="btn btn-danger btn-lg">Maguca Button</button>

    </div>
  </div>
</div>