<div class="central">
  <form class="card">
  <h1 style="color: black; font-size: 30px; text-align: center;">Eliminar Ciudad</h1>
  <div class="form-group">
    <select id='Ciudad' class="form-control font-estilo">
      <ng-container *ngFor="let ciudad of ciudades; let i = index">
        <option value={{ciudad.nombre}}>{{ciudad.nombre}}</option>
      </ng-container>
    </select>
  </div>
  
  <button (click)="eliminarElemento();" type="submit" class="btn btn-primary btn-signin">Eliminar Ciudad</button>
  <button i18n="Traduccion de b agregar ciudad" (click)="volver()" type="submit" class="btn btn-primary btn-signin">Cancelar</button>
  </form>
</div> 