span.position {
  color: green;
}

.full-width {
  width: 100%;
}

.width-team {
  width: 50%;
}

.group  {
  margin-bottom: 10px;
}

.description {
  margin-top: 15px;
}

span.eliminated {
  color: red;
}

.group-points{
}

.editar {
  color: #6d6d6d;
}

.editar:hover {
  color: #6d6d6d;
}