<ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
  <li class="nav-item col-sm-2">
    <a aria-controls="groups" aria-selected="true" class="nav-link active regresar"  data-toggle="tab" id="groups-tab" role="tab" (click)="regresar()">Regresar</a>
  </li>
  <li class="nav-item col-sm-10">
    <a aria-controls="groups" aria-selected="true" class="nav-link active"  data-toggle="tab" id="groups-tab" role="tab">Creación de alineación</a>
  </li>
</ul>
<div class="title"><h3>Equipo1</h3></div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4>Plantilla del equipo1</h4>
      </div>
    </div>

    <div class="plantilla">
      <table>
        <tr>
          <th>Numero</th>
          <th>Nombre</th> 
          <th>Posicion</th>
          <th>Agregar</th>
        </tr>
        <tr *ngFor="let jugador of listaJugadores">
          <ng-container *ngIf="jugador.estado === 'suplente'">
              <td>{{ jugador.numero }}</td>
              <td>{{ jugador.nombre }}</td> 
              <td>{{ jugador.posicion }}</td>
              <td>
                <button type="button" class="btn btn-secondary crear" (click)="agregar(jugador)">
                  <i class="material-icons">add</i>
                </button>
              </td>
          </ng-container>
        </tr>
      </table>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4>Plantilla del partido</h4>
      </div>
    </div>

    <div class="plantilla">
      <table>
        <tr>
          <th>Numero</th>
          <th>Nombre</th> 
          <th>Posicion</th>
          <th>Descartar</th>
        </tr>
        <tr *ngFor="let jugador of listaJugadores">
          <ng-container *ngIf="jugador.estado === 'titular'">
              <td>{{ jugador.numero }}</td>
              <td>{{ jugador.nombre }}</td> 
              <td>{{ jugador.posicion }}</td>
              <td>
                <button type="button" class="btn btn-secondary descartar" (click)="descartar(jugador)">
                  <i class="material-icons">remove_circle_outline</i>
                </button>
              </td>
          </ng-container>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<div class="title"><h3>Equipo2</h3></div>
<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4>Plantilla del equipo2</h4>
        </div>
      </div>
  
      <div class="plantilla">
        <table>
          <tr>
            <th>Numero</th>
            <th>Nombre</th> 
            <th>Posicion</th>
            <th>Agregar</th>
          </tr>
          <tr *ngFor="let jugador of listaJugadores">
            <ng-container *ngIf="jugador.estado === 'suplente'">
                <td>{{ jugador.numero }}</td>
                <td>{{ jugador.nombre }}</td> 
                <td>{{ jugador.posicion }}</td>
                <td>
                  <button type="button" class="btn btn-secondary crear" (click)="agregar(jugador)">
                    <i class="material-icons">add</i>
                  </button>
                </td>
            </ng-container>
          </tr>
        </table>
      </div>
    </div>
  
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4>Plantilla del partido</h4>
        </div>
      </div>
  
      <div class="plantilla">
        <table>
          <tr>
            <th>Numero</th>
            <th>Nombre</th> 
            <th>Posicion</th>
            <th>Descartar</th>
          </tr>
          <tr *ngFor="let jugador of listaJugadores">
            <ng-container *ngIf="jugador.estado === 'titular'">
                <td>{{ jugador.numero }}</td>
                <td>{{ jugador.nombre }}</td> 
                <td>{{ jugador.posicion }}</td>
                <td>
                  <button type="button" class="btn btn-secondary descartar" (click)="descartar(jugador)">
                    <i class="material-icons">remove_circle_outline</i>
                  </button>
                </td>
            </ng-container>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br>
<div class="col-sm-4 offset-sm-4">
    <button type="button" class="btn">Guardar</button>
</div>