<div class="title">
  <h1>Creación de alineación</h1>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2>Plantilla del equipo</h2>
      </div>
    </div>

    <div class="plantilla">
      <table>
        <tr>
          <th>Numero</th>
          <th>Nombre</th> 
          <th>Posicion</th>
          <th>Agregar</th>
        </tr>
        <tr>
          <td>50</td>
          <td>Jill Smith</td> 
          <td>PO</td>
          <td>
            <button type="button" class="btn btn-secondary crear">
              <i class="material-icons">add</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>27</td>
          <td>Samuel Jackson</td> 
          <td>DFC</td>
          <td>
            <button type="button" class="btn btn-secondary crear">
              <i class="material-icons">add</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>50</td>
          <td>Jill Smith</td> 
          <td>PO</td>
          <td>
            <button type="button" class="btn btn-secondary crear">
              <i class="material-icons">add</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>50</td>
          <td>Jill Smith</td> 
          <td>PO</td>
          <td>
            <button type="button" class="btn btn-secondary crear">
              <i class="material-icons">add</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>50</td>
          <td>Jill Smith</td> 
          <td>PO</td>
          <td>
            <button type="button" class="btn btn-secondary crear">
              <i class="material-icons">add</i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2>Plantilla del partido</h2>
      </div>
    </div>

    <div class="plantilla">
      <table>
        <tr>
          <th>Numero</th>
          <th>Nombre</th> 
          <th>Posicion</th>
          <th>Descartar</th>
        </tr>
        <tr>
          <td>50</td>
          <td>Jill Smith</td> 
          <td>PO</td>
          <td>
            <button type="button" class="btn btn-secondary descartar">
              <i class="material-icons">remove_circle_outline</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>27</td>
          <td>Samuel Jackson</td> 
          <td>DFC</td>
          <td>
            <button type="button" class="btn btn-secondary descartar">
              <i class="material-icons">remove_circle_outline</i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>