<div class="central">

  <form class="card">
  <h1 style="color: black; font-size: 30px; text-align: center;">Consultar Ciudad</h1>
  <div class="form-group">
    <select id='Ciudad' class="form-control font-estilo">
      <ng-container *ngFor="let ciudad of ciudades; let i = index">
        <option value={{ciudad.id}}>{{ciudad.id}}</option>
      </ng-container>
    </select>
  </div>
  
  <button (click)="mostrarInformacion();" type="submit" class="btn btn-primary btn-signin">Consultar Ciudad</button>
  <button i18n="Traduccion de b agregar ciudad" (click)="volver()" type="submit" class="btn btn-primary btn-signin">Cancelar</button>
  </form>
</div>


  <div class="card" id='infoCiudad'>
    <div class="card-header">
     <h2 id='nombreCiudad'></h2>
    </div>
    <div class="card-body">
      <h5 class="card-title" >Nombre</h5>
      <p class="card-text" id="nombre"></p>
      <h5 class="card-title" >Habitantes</h5>
      <p class="card-text" id="habitantes"></p>
      <h5 class="card-title">Descripción</h5>
      <p class="card-text" id="descripcion"></p>
    </div>
  </div>
