<div class="central" >

    <form class="card" style="text-align: center">
    
      <h1 style="color: black; font-size: 30px; text-align: center;">Perfil del Jugador </h1>
    
      <div class="form-group">
    
        <h1>Cristiano Ronaldo</h1>
    
      </div>
    
      <div class="form-group">

        <img src="../../../assets/images/jugadores/jugador1.jpg" class="img-rounded" >
      
      </div>

      <table width="100%" border="0" cellpadding="2">
          <tr>
              <td>
                  <p>Edad</p>
              </td>
              <td>
                  <p>Peso</p>
              </td>
              <td>
                  <p>Altura</p>
              </td>
          </tr>
      </table>

      <table class="table">
          <thead>
            <tr>
              <th scope="col">Partido VS</th>
              <th scope="col">Goles</th>
              <th scope="col">Asistencias</th>
              <th scope="col">Tarjetas Amarillas</th>
              <th scope="col">Tarjetas Rojas</th>
              <th scope="col">Minutos Jugados</th>
              <th scope="col">Calificacion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mexico</th>
              <td>1</td>
              <td>0</td>
              <td>1</td>
              <td>0</td>
              <td>90</td>
              <td>9.8</td>
            </tr>
            <tr>
              <th scope="row">Polonia</th>
              <td>1</td>
              <td>0</td>
              <td>1</td>
              <td>0</td>
              <td>90</td>
              <td>9.8</td>
            </tr>
            <tr>
              <th scope="row">Iran</th>
              <td>1</td>
              <td>0</td>
              <td>1</td>
              <td>0</td>
              <td>90</td>
              <td>9.8</td>
            </tr>
          </tbody>
        </table>
      
    </form>
</div>