.tab-content{

    overflow-y: scroll;
    height: 75%;
    position: relative;

}

.tab-content
{
    padding-top: 1%;
    padding-bottom: 10%;
}
.container{

margin-top: 0%;

}

.row{

    margin-bottom: 0px;
}

.row hr{
    margin-top: 0px;
    width: 95%;
}
/*
.row:hover{

    background-color: #e0e0e0;
}*/

.img-thumbnail{

    margin: 0px 20px;
    width: 25%;
    height: 45%;
}

.d-block {

    background: #eee;
    color: #3f3f3f;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}

.col-sm-4 p{

    margin-left: 20px;
}


.match-score, .match-time{

    font-size: 20px;
    color: #3f3f3f;
    font-weight:  bold;
}
