<div class="container">
  <div class="dropdown-divider"></div>
      <ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
        <li class="nav-item">
          <a aria-controls="groups" aria-selected="true" class="nav-link active" data-toggle="tab" href="home/match" id="groups-tab" role="tab">Fase de grupos</a>
        </li>
        <li class="nav-item">
          <a aria-controls="eliminatory" aria-selected="false" class="nav-link" data-toggle="tab" href="home/match" id="eliminatory-tab" role="tab">Fase de eliminatorias</a>
        </li>
      </ul>
      <div class="dropdown-divider"></div>

      <!-- Fecha -->
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand mb-0 h1">jueves 14 junio</span>
        </nav>

      <div class="tab-content" id="justifiedTabContent">
        <div aria-labelledby="groups-tab" class="tab-pane fade show active" id="groups" role="tabpanel">
          <table class="table">
            <tbody>
              <tr>
                <td>Luzhniki Stadium</td>
                <td>MOSCOW</td>
                <td>Rusia</td>
                <td>11:00</td>
                <td>Arabia Saudí</td>
              </tr>
            </tbody>
          </table>

      <!-- Fecha -->
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand mb-0 h1">viernes 15 junio</span>
        </nav>

      <div class="tab-content" id="justifiedTabContent">
        <div aria-labelledby="groups-tab" class="tab-pane fade show active" id="groups" role="tabpanel">
          <table class="table">
            <tbody>
              <tr>
                <td>Ekaterinburg Arena</td>
                <td>EKATERINBURG</td>
                <td>Egipto</td>
                <td>8:00</td>
                <td>Uruguay</td>
              </tr>
              <tr>
                <td>estadio de San Petersburgo</td>
                <td>ST. PETERSBURG</td>
                <td>Marruecos</td>
                <td>11:00</td>
                <td>RI de Irán</td>
              </tr>
              <tr>
                <td>Fisht Stadium</td>
                <td>SOCHI</td>
                <td>Portugal</td>
                <td>14:00</td>
                <td>España</td>
              </tr>
            </tbody>
          </table>

          <!-- Fecha -->
            <nav class="navbar navbar-light bg-light">
              <span class="navbar-brand mb-0 h1">sábado 16 junio</span>
            </nav>

          <div class="tab-content" id="justifiedTabContent">
            <div aria-labelledby="groups-tab" class="tab-pane fade show active" id="groups" role="tabpanel">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Ekaterinburg Arena</td>
                    <td>EKATERINBURG</td>
                    <td>Egipto</td>
                    <td>8:00</td>
                    <td>Uruguay</td>
                  </tr>
                  <tr>
                    <td>estadio de San Petersburgo</td>
                    <td>ST. PETERSBURG</td>
                    <td>Marruecos</td>
                    <td>11:00</td>
                    <td>RI de Irán</td>
                  </tr>
                  <tr>
                    <td>Fisht Stadium</td>
                    <td>SOCHI</td>
                    <td>Portugal</td>
                    <td>14:00</td>
                    <td>España</td>
                  </tr>
                  <tr>
                    <td>Fisht Stadium</td>
                    <td>SOCHI</td>
                    <td>Portugal</td>
                    <td>14:00</td>
                    <td>España</td>
                  </tr>
                </tbody>
              </table>

              <!-- Fecha -->
                <nav class="navbar navbar-light bg-light">
                  <span class="navbar-brand mb-0 h1">domingo 17 junio</span>
                </nav>

              <div class="tab-content" id="justifiedTabContent">
                <div aria-labelledby="groups-tab" class="tab-pane fade show active" id="groups" role="tabpanel">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Ekaterinburg Arena</td>
                        <td>EKATERINBURG</td>
                        <td>Egipto</td>
                        <td>8:00</td>
                        <td>Uruguay</td>
                      </tr>
                      <tr>
                        <td>estadio de San Petersburgo</td>
                        <td>ST. PETERSBURG</td>
                        <td>Marruecos</td>
                        <td>11:00</td>
                        <td>RI de Irán</td>
                      </tr>
                      <tr>
                        <td>Fisht Stadium</td>
                        <td>SOCHI</td>
                        <td>Portugal</td>
                        <td>14:00</td>
                        <td>España</td>
                      </tr>
                      <tr>
                        <td>Fisht Stadium</td>
                        <td>SOCHI</td>
                        <td>Portugal</td>
                        <td>14:00</td>
                        <td>España</td>
                      </tr>
                    </tbody>
                  </table>

        </div>
        <div aria-labelledby="eliminatory-tab" class="tab-pane fade" id="eliminatory" role="tabpanel">bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</div>
      </div>
</div>
