<div class="container app">
    <div class="row">
      <div class="col">
        <h2>{{title}}</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-12 col-xlg-12 col-md-12">
          <div class="card">
    
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#agregar" role="tab">Agregar Jugador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#jugadores" role="tab">Todos los jugadores</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#activos" role="tab">Jugadores activos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#inactivos" role="tab">Jugadores Inactivos</a>
                </li>              
            </ul>
    
              <div class="tab-content">
    
                <div class="tab-pane active" id="agregar" role="tabpanel">
                  <div class="card-body">
  
                      <form #playerRegistrationForm="ngForm" (ngSubmit)="registrarJugador(playerRegistrationForm)" class="form-horizontal form-material">

            
                          <div class="form-group">
                            <label class="col-md-12" for="inputName">Nombre</label>
                            <div class="col-md-12">
                              <input matInput type="text" id="inputName" maxlength="20" #Nombre="ngModel" [(ngModel)]="jugador.nombre" name="Nombre" required class="form-control form-control-line">
                            </div>
                          </div>
            
                          <div class="form-group">
                            <label class="col-md-12" for="inputLastname">Apellido</label>
                            <div class="col-md-12">
                              <input matInput type="text" id="inputLastname" maxlength="20" #Apellido="ngModel" [(ngModel)]="jugador.apellido" name="Apellido" required class="form-control form-control-line">          
                            </div>
                          </div>
  
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="exampleInputDate">Fecha de nacimiento</label>
                              <input matInput type="date" #FechaNacimiento="ngModel" [(ngModel)]="jugador.fechaNacimiento" name="FechaNacimiento" required class="form-control" id="exampleInputDate">
                            </div>
                          </div>
  
                          <div class="form-group">
                            <label class="col-md-12" for="inputBirth">Lugar de Nacimiento</label>
                            <div class="col-md-12">
                              <input matInput type="text" id="inputBirth" maxlength="40" #LugarNacimiento="ngModel" [(ngModel)]="jugador.lugarNacimiento" name="LugarNacimiento" required class="form-control form-control-line">          
                            </div>
                          </div>
  
                          <div class="form-group">
                            <label class="col-md-12" for="inputWeight">Peso</label>
                            <div class="col-md-12">
                              <input matInput type="text" id="inputWeight" maxlength="4" #Peso="ngModel" [(ngModel)]="jugador.peso" name="Peso" required class="form-control form-control-line">          
                            </div>
                          </div>
  
                          <div class="form-group">
                            <label class="col-md-12" for="inputHeight">Altura</label>
                            <div class="col-md-12">
                              <input matInput type="text" id="inputHeight" maxlength="4" #Altura="ngModel" [(ngModel)]="jugador.altura" name="Altura" required class="form-control form-control-line">          
                            </div>
                          </div>
            
                          <div class="form-group">
                            <label class="col-md-12" for="inputPosition">Posición</label>
                            <div class="col-md-12">
                              <select #Posicion="ngModel" id="inputPosition" [(ngModel)]="jugador.posicion" name="Posicion" required class="form-control">
                                <option value="PORTERO">PORTERO</option>
                                <option value="LATERAL DERECHO">LATERAL DERECHO</option>
                                <option value="LATERAL IZQUIERDO">LATERAL IZQUIERDO</option>
                                <option value="CENTRAL">CENTRAL</option>
                                <option value="DEFENSA">DEFENSA</option>
                                <option value="DELANTERO">DELANTERO</option>
                                <option value="CENTROCAMPISTA">CENTROCAMPISTA</option>
                              </select>
                            </div>
                          </div>
  
                          <div class="form-group">
                            <label class="col-md-12" for="inputNumber">Número</label>
                            <div class="col-md-12">
                              <input matInput type="text" id="inputNumber" maxlength="2" #Numero="ngModel" [(ngModel)]="jugador.numero" name="Numero" required class="form-control form-control-line">          
                            </div>
                          </div>
  
                          <div class="form-group">
                              <label class="col-md-12" for="inputTeam">Equipo</label>
                              <div class="col-md-12">
                                <select #Equipo="ngModel" id="inputTeam" [(ngModel)]="jugador.equipo" name="Equipo" required class="form-control">
                                  <option value="Espana">España</option>
                                  <option value="Uruguay">Uruguay</option>
                                  <option value="Brasil">Brasil</option>
                                  <option value="Mexico">Mexico</option>
                                  <option value="Colombia">Colombia</option>
                                  <option value="Rusia">Rusia</option>
                                  <option value="Argentina">Argentina</option>
                                </select>
                              </div>
                            </div>
            
                          <div class="form-group">
                            <div class="col-sm-12">
                              <button [disabled]="!playerRegistrationForm.valid" type="submit" class="btn btn-agregar">Agregar</button>
                            </div>
                          </div>
            
                        </form>
                      
                  </div>
                </div>
    
                <div class="tab-pane active" id="jugadores" role="tabpanel">
                  <div class="card-body">
  
                      <div class="d-none d-sm-block">
                          <table  datatable class="row-border hover">
                              <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                      <th>Fecha de nacimiento</th>
                                      <th>Lugar de nacimiento</th>
                                      <th>Peso</th>
                                      <th>Altura</th>
                                      <th>Posicion</th>
                                      <th>Número</th>
                                      <th>Equipo</th>
                                      <th>Capitan</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let jugador of ListJugadores">
                                      <td>{{jugador.Id}}</td>
                                      <td>{{jugador.Nombre}}</td>
                                      <td>{{jugador.Apellido}}</td>
                                      <td>{{jugador.FechaNacimiento}}</td>
                                      <td>{{jugador.LugarNacimiento}}</td>
                                      <td>{{jugador.Peso}}</td>
                                      <td>{{jugador.Altura}}</td>
                                      <td>{{jugador.Posicion}}</td>
                                      <td>{{jugador.Numero}}</td>
                                      <td>{{jugador.Equipo}}</td>
                                      <td>{{jugador.Capitan}}</td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                      
                  </div>
                </div>

                <div class="tab-pane active" id="activos" role="tabpanel">
                  <div class="card-body">
  
                      <div class="d-none d-sm-block">
                          <table datatable class="row-border hover">
                              <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                      <th>Fecha de nacimiento</th>
                                      <th>Lugar de nacimiento</th>
                                      <th>Peso</th>
                                      <th>Altura</th>
                                      <th>Posicion</th>
                                      <th>Número</th>
                                      <th>Equipo</th>
                                      <th>Capitan</th>
                                      <th>Opcion</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let jugador of ListJugadoresActivos">
                                      <td>{{jugador.Id}}</td>
                                      <td>{{jugador.Nombre}}</td>
                                      <td>{{jugador.Apellido}}</td>
                                      <td>{{jugador.FechaNacimiento}}</td>
                                      <td>{{jugador.LugarNacimiento}}</td>
                                      <td>{{jugador.Peso}}</td>
                                      <td>{{jugador.Altura}}</td>
                                      <td>{{jugador.Posicion}}</td>
                                      <td>{{jugador.Numero}}</td>
                                      <td>{{jugador.Equipo}}</td>
                                      <td>{{jugador.Capitan}}</td>
                                      <td>
                                          <button type="button" class="btn btn-act btn-success">Act/des</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      
                  </div>
                </div>

                <div class="tab-pane active" id="inactivos" role="tabpanel">
                  <div class="card-body">
  
                      <div class="d-none d-sm-block">
                          <table datatable class="row-border hover">
                              <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                      <th>Fecha de nacimiento</th>
                                      <th>Lugar de nacimiento</th>
                                      <th>Peso</th>
                                      <th>Altura</th>
                                      <th>Posicion</th>
                                      <th>Número</th>
                                      <th>Equipo</th>
                                      <th>Capitan</th>
                                      <th>Opcion</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let jugador of ListJugadoresInactivos">
                                      <td>{{jugador.Id}}</td>
                                      <td>{{jugador.Nombre}}</td>
                                      <td>{{jugador.Apellido}}</td>
                                      <td>{{jugador.FechaNacimiento}}</td>
                                      <td>{{jugador.LugarNacimiento}}</td>
                                      <td>{{jugador.Peso}}</td>
                                      <td>{{jugador.Altura}}</td>
                                      <td>{{jugador.Posicion}}</td>
                                      <td>{{jugador.Numero}}</td>
                                      <td>{{jugador.Equipo}}</td>
                                      <td>{{jugador.Capitan}}</td>
                                      <td>
                                          <button type="button" class="btn btn-act btn-success">Act/des</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      
                  </div>
                </div>
    
              </div>
          </div>
      </div>
    </div>

</div>
