<!-- ============================================================== -->
<!-- Perfil del Cliente -->
<!-- ============================================================== -->

<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h2 class="text-themecolor m-b-0 m-t-0">Perfil</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Gestionar Usuarios</li>
    </ol>
  </div>
</div>


<div class="row">
  <!-- Column -->

  <div class="col-lg-12 col-xlg-12 col-md-12">
    <div class="card">

      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#jugador" role="tab">Usuarios Activos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#equipo" role="tab">Usuarios Inactivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#crear" role="tab">Crear Administrador</a>
        </li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="jugador" role="tabpanel">
          <div class="card-body">

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Usuario</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Correo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of ListUsuarios">
                  <td>{{user.Id}}</td>
                  <td>{{user.NombreUsuario }}</td>
                  <td>{{user.Nombre }}</td>
                  <td>{{user.Apellido }}</td>
                  <td>{{user.Correo }}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>


        <div class="tab-pane" id="equipo" role="tabpanel">
          <div class="card-body">

              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of ListUsuarios">
                    <td>{{user.Id}}</td>
                    <td>{{user.NombreUsuario }}</td>
                    <td>{{user.Nombre }}</td>
                    <td>{{user.Apellido }}</td>
                    <td>{{user.Correo }}</td>
                  </tr>
                </tbody>
              </table>

          </div>
        </div>

          <div class="tab-pane active" id="crear" role="tabpanel">
            <div class="card-body">
          
            <form class="form-horizontal form-material">
            
              <div class="form-group">
                <label class="col-md-12">Nombre</label>
                <div class="col-md-12">
                  <input type="text" value="{{_usuario.Nombre}}" class="form-control form-control-line" name="newName" id="newName" pattern="^[a-zA-Z\s]+$"
                    [(ngModel)]='_nombreNew' #newName="ngModel">
            
                  <div *ngIf="newName.errors &&  (newName.touched || newName.dirty)" class="aler alert-danger">
                    <div [hidden]="!newName.errors?.pattern">
                      Ingrese Solo Letras
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="form-group">
                <label class="col-md-12">Apellido</label>
                <div class="col-md-12">
                  <input type="text" value="{{_usuario.Apellido}}" class="form-control form-control-line" name="newApellido" id="newApellido"
                    pattern="^[a-zA-Z\s]+$" [(ngModel)]='_apellidoNew' #newApellido="ngModel">
            
                  <div *ngIf="newApellido.errors &&  (newApellido.touched || newApellido.dirty)" class="aler alert-danger">
                    <div [hidden]="!newApellido.errors?.pattern">
                      Ingrese Solo Letras
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="form-group">
                <label class="col-md-12">Genero</label>
                <div class="col-md-12">
                  <select [(ngModel)]="_usuario.Genero" name="genero" id="genero" class="form-control">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                  </select>
                </div>
              </div>
            
              <div class="form-group">
                <div class="col-md-12">
                  <label for="exampleInputDate">Fecha de nacimiento</label>
                  <input type="date" [value]="_usuario.FechaNacimiento | date: 'yyyy-MM-dd'" [(ngModel)]="_fechaNew" name="_fechaNew" class="form-control"
                    id="exampleInputDate">
                </div>
              </div>
            
              <div class="form-group">
                <label for="exampleFormControlFile1" class="col-md-12">Foto</label>
                <div class="col-md-12">
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </div>
            
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-success" (click)="ActualizarPerfil()">Actualizar Perfil</button>
                </div>
              </div>
            
            </form>

            </div>
          </div>

      </div>
    </div>
  </div>
</div>