<!--<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">PARTIDOS</span>
</nav>-->
<div class="container-fluid">
<ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
  <li class="nav-item">
    <a aria-controls="groups" aria-selected="true" class="nav-link active"  data-toggle="tab" id="groups-tab" role="tab">Fase de Grupos</a>
  </li>
</ul>
<div class="tab-content" id="justifiedTabContent">
  <div aria-labelledby="groups-tab" class="tab-pane fade show active" ng-show="tab === 1" id="groups"  role="tabpanel" >
    <div class="container" *ngFor="let match of listmatches">
        <div class="d-block">{{match.dia}}</div>
        <br>
     <div class="matches-container">
      <ng-container *ngFor="let inf of match.info">
        <button (click)="details(inf.equipo1, inf.equipo2)">
            <div class="row" >
              <div class="col-sm-4">
                  <p>
                      {{inf.fecha}}
                      <br>
                      {{inf.estadio}}
                      <br>
                      {{inf.ciudad}}
                  </p>
                </div>
                <div class="col-sm-2">
                  <h4>{{inf.equipo1}}</h4>
                </div>
                <div class="col-sm-4">
                    <h4><img src="{{inf.bandera1}}" alt="{{inf.equipo1}}" class="img-thumbnail">
                    <label class="match-time">{{inf.hora}}</label>
                    <img src="{{inf.bandera2}}" alt="{{inf.equipo2}" class="img-thumbnail">
                    </h4>
                  </div>
                <div class="col-sm-2">
                  <h4> {{inf.equipo2}} </h4>
                </div>

            </div>

          </button>

    </ng-container>
    <br>
  </div>
    </div>

  </div>


</div>
</div>
