<!--<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">PARTIDOS</span>
</nav>-->
<div class="container-fluid">
<ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
  <li class="nav-item">
    <a aria-controls="groups" aria-selected="true" class="nav-link active"  data-toggle="tab" id="groups-tab" role="tab">Fase de Grupos</a>
  </li>
</ul>
<div class="tab-content" id="justifiedTabContent">
  <div aria-labelledby="groups-tab" class="tab-pane fade show active" ng-show="tab === 1" id="groups"  role="tabpanel" >
     <div class="matches-container">
      <ng-container *ngFor="let match of listMatches">
        <button (click)="details(match.Id)">
            <div class="row" >
              <div class="col-sm-4">
                  <p class="lateral-text">
                    {{match.FechaInicioPartido | date:'fullDate':'es'}}
                    <br>
                    {{match.Estadio.Nombre | titlecase}}
                  </p>
                </div>
                <div class="col-sm-2">
                  <h4>{{match.Equipo1.Nombre | titlecase}}</h4>
                </div>
                <div class="col-sm-4">
                    <h4><img src="{{match.bandera1}}" alt="{{match.Equipo1.Nombre}}" class="img-thumbnail">
                    <label class="match-time">{{match.FechaInicioPartido | date:'shortTime'}}</label>
                    <img src="{{match.bandera2}}" alt="{{match.Equipo2.Nombre}}" class="img-thumbnail">
                    </h4>
                  </div>
                <div class="col-sm-2">
                  <h4> {{match.Equipo2.Nombre | titlecase}} </h4>
                </div>

            </div>

          </button>

    </ng-container>
  </div>

  </div>


</div>
</div>
