.container {
    text-align: center;
    vertical-align: middle;
    margin-top: 30vh;
}
.btn-group-vertical {
    width: 50%;
}
.btn-group, .btn-group-vertical {
    box-shadow: none;
}
button {
    margin: 10px 0;
}