<div class="container">
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="CrearEquipo()">
            Crear Equipo
        </button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="EditarEquipo()">
            Editar Equipo
        </button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="InhabilitarEquipo()">
            Inhabilitar Equipo
        </button>
    </div>
</div>