<!-- ============================================================== -->
<!-- Gestionar Apuestas -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center">
        <h2 class="text-themecolor m-b-0 m-t-0">Apuestas</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">Inicio</a>
            </li>
            <li class="breadcrumb-item cursor" routerLink="/apuestas">Apuestas</li>
            <li class="breadcrumb-item active">Gestionar mis apuestas</li>
        </ol>
    </div>
    <app-nav-buttons></app-nav-buttons>
</div>

<div class="row">
    <!-- Column -->

    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">

            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#vf" role="tab">
                        <i class="material-icons">
                            repeat_one
                        </i>V o F</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#aciertos" role="tab">
                        <i class="material-icons">
                            library_add
                        </i>Cantidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#jugadores" role="tab">
                        <i class="material-icons">
                            directions_run
                        </i>Jugadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#equipos" role="tab">
                        <i class="material-icons">
                            group_add
                        </i>Equipos</a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="vf" role="tabpanel">
                    <div class="card-body">

                        <table datatable [dtOptions]="dtOptionsApuestaVof" [dtTrigger]="dtTriggerApuestaVof" class="row-border hover">
                            <thead>
                                <tr>
                                    <th class="center">ID</th>
                                    <th class="center">Logro</th>
                                    <th class="center">Apuesta Actual</th>
                                    <th class="center">Nueva Apuesta</th>
                                    <th class="center">Estado</th>
                                    <th class="center">Fecha</th>
                                    <th class="center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="center" *ngFor="let ApuestaVof of ListApuestavof; let i = index">
                                    <td>{{ApuestaVof.IdLogro}}</td>
                                    <td>{{ApuestaVof.Logro}}</td>
                                    <td>{{ObtenerVoF(ApuestaVof.ApuestaUsuario)}}</td>
                                    <td>
                                        <select [(ngModel)]="actualizarOpcionVof[i]" name="opcion" id="opcion">
                                            <option value="true">Si</option>
                                            <option value="false">No</option>
                                        </select>
                                    </td>
                                    <td>{{ApuestaVof.Estado}}</td>
                                    <td>{{ApuestaVof.Fecha}}</td>
                                    <td>
                                        <button type="button" (click)="ActualizarApuestaVof(ApuestaVof.IdLogro, actualizarOpcionVof[i])" class="btn btn-success-table"
                                            style="margin-right:16px;">
                                            <i class="material-icons center">
                                                edit
                                            </i>
                                        </button>
                                        <button type="button" (click)="EliminarApuestaVof(ApuestaVof.IdLogro)" class="btn btn-danger-table" style="margin-right:16px;">
                                            <i class="material-icons center">
                                                delete_forever
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="tab-pane" id="aciertos" role="tabpanel">
                    <div class="card-body">

                        <table datatable [dtOptions]="dtOptionsApuestaCantidad" [dtTrigger]="dtTriggerApuestaCantidad" class="row-border hover">
                            <thead>
                                <tr>
                                    <th class="center">ID</th>
                                    <th class="center">Logro</th>
                                    <th class="center">Apuesta Actual</th>
                                    <th class="center">Nueva Apuesta</th>
                                    <th class="center">Estado</th>
                                    <th class="center">Fecha</th>
                                    <th class="center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="center" *ngFor="let ApuestaCantidad of ListApuestacantidad; let i = index">
                                    <td>{{ApuestaCantidad.IdLogro}}</td>
                                    <td>{{ApuestaCantidad.Logro}}</td>
                                    <td>{{ApuestaCantidad.ApuestaUsuario}}</td>
                                    <td>
                                        <div class="col-4">
                                            <input type="number" class="form-control form-control-line center" name="newCantidad" id="newCantidad" pattern="^[0-9\s]+$"
                                                [(ngModel)]="actualizarOpcionCantidad[i]" #newCantidad="ngModel">

                                            <div *ngIf="newCantidad.errors &&  (newCantidad.touched || newCantidad.dirty)" class="aler alert-danger">
                                                <div [hidden]="!newCantidad.errors?.pattern">
                                                    Ingrese Solo Numeros
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ApuestaCantidad.Estado}}</td>
                                    <td>{{ApuestaCantidad.Fecha}}</td>
                                    <td>
                                        <button type="button" (click)="ActualizarApuestaCantidad(ApuestaCantidad.IdLogro, actualizarOpcionCantidad[i])" class="btn btn-success-table"
                                            style="margin-right:16px;">
                                            <i class="material-icons center">
                                                edit
                                            </i>
                                        </button>
                                        <button type="button" (click)="EliminarApuestaCantidad(ApuestaCantidad.IdLogro)" class="btn btn-danger-table" style="margin-right:16px;">
                                            <i class="material-icons center">
                                                delete_forever
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="tab-pane" id="jugadores" role="tabpanel">
                    <div class="card-body">

                        <table datatable [dtOptions]="dtOptionsApuestaJugadores" [dtTrigger]="dtTriggerApuestaJugadores" class="row-border hover">
                            <thead>
                                <tr>
                                    <th class="center">ID</th>
                                    <th class="center">Apuesta</th>
                                    <th class="center">Logro</th>
                                    <th class="center">Opción</th>
                                    <th class="center">Estado</th>
                                    <th class="center">Fecha</th>
                                    <th class="center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="center" *ngFor="let ApuestaJugador of ListApuestajugadores">
                                    <td>{{ApuestaJugador.IdLogro}}</td>
                                    <td>{{ApuestaJugador.NombreJugador}} {{ApuestaJugador.ApellidoJugador}}</td>
                                    <td>{{ApuestaJugador.Logro}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success-table" (click)="openModaljugadores(ApuestaJugador.IdLogro)" style="margin-right:16px;">
                                            <i class="material-icons">
                                                transfer_within_a_station
                                            </i>Ver Jugadores</button>
                                        <div class="backdrop" [ngStyle]="{'display':display}"></div>
                                    </td>
                                    <td>{{ApuestaJugador.Estado}}</td>
                                    <td>{{ApuestaJugador.Fecha}}</td>
                                    <td>
                                        <button type="button" (click)="EliminarApuestaJugador(ApuestaJugador.IdLogro)" class="btn btn-danger-table" style="margin-right:16px;">
                                            <i class="material-icons">
                                                delete_forever
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="tab-pane" id="equipos" role="tabpanel">
                    <div class="card-body">

                        <table datatable [dtOptions]="dtOptionsApuestaEquipos" [dtTrigger]="dtTriggerApuestaEquipos" class="row-border hover">
                            <thead>
                                <tr>
                                    <th class="center">ID</th>
                                    <th class="center">Logro</th>
                                    <th class="center">Apuesta Actual</th>
                                    <th class="center">Nueva Apuesta</th>
                                    <th class="center">Estado</th>
                                    <th class="center">Fecha</th>
                                    <th class="center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="center" *ngFor="let ApuestaEquipo of ListApuestaequipos; let i = index">
                                    <td>{{ApuestaEquipo.IdLogro}}</td>
                                    <td>{{ApuestaEquipo.Logro}}</td>
                                    <td>{{ApuestaEquipo.NombreEquipo}}</td>
                                    <td>
                                        <select [(ngModel)]="actualizarOpcionEquipo[i]" name="actualizarOpcionEquipo" id="actualizarOpcionEquipo">
                                            <option value="1">Argentina</option>
                                            <option value="2">Brasil</option>
                                            <option value="3">España</option>
                                            <option value="4">Islandia</option>
                                            <option value="5">Irán</option>
                                            <option value="6">Inglaterra</option>
                                            <option value="7">Colombia</option>
                                            <option value="8">Mexico</option>
                                            <option value="9">Rusia</option>
                                            <option value="10">Alemania</option>
                                            <option value="11">Portugal</option>
                                            <option value="12">Perú</option>
                                            <option value="13">Arabia Saudita</option>
                                            <option value="14">Francia</option>
                                            <option value="15">Uruguay</option>
                                        </select>
                                    </td>
                                    <td>{{ApuestaEquipo.Estado}}</td>
                                    <td>{{ApuestaEquipo.Fecha}}</td>
                                    <td>
                                        <button class="center" type="button" (click)="ActualizarApuestaEquipo(ApuestaEquipo.IdLogro, actualizarOpcionEquipo[i])"
                                            class="btn btn-success-table" style="margin-right:16px;">
                                            <i class="material-icons">
                                                edit
                                            </i>
                                        </button>
                                        <button class="center" type="button" (click)="EliminarApuestaEquipo(ApuestaEquipo.IdLogro)" class="btn btn-danger-table"
                                            style="margin-right:16px;">
                                            <i class="material-icons">
                                                delete_forever
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <!-- modal-dialog -->
        <div class="modal-dialog" role="document">
            <!-- modal-content -->
            <div class="modal-content">
                <!-- modal-header -->
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="closeModalJuagdores()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- <h4 class="modal-title">Login</h4> -->
                </div>

                <!-- modal-body -->
                <div class="modal-body">
                    <table datatable [dtOptions]="dtOptionsMostrarJugadores" [dtTrigger]="dtTriggerMostrarJugadores" class="row-border hover">
                        <thead>
                            <tr>
                                <th class="center">ID</th>
                                <th class="center">Nombre</th>
                                <th class="center">Apellido</th>
                                <th class="center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="center" *ngFor="let MostrarJugadores of ListMostrarJugadores">
                                <td>{{MostrarJugadores.Id}}</td>
                                <td>{{MostrarJugadores.Nombre}}</td>
                                <td>{{MostrarJugadores.Apellido}}</td>
                                <td>
                                    <button type="button" class="btn btn-success-table" (click)="ActualizarApuestaJugador(MostrarJugadores.Id)" style="margin-right:16px;">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- modal-footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="closeModalJuagdores()">
                        Close
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- ============================================================== -->
<!-- /Gestionar Apuestas -->
<!-- ============================================================== -->