<!-- ============================================================== -->
<!-- Registrar Apuestas -->
<!-- ============================================================== -->

<div class="row page-titles">
  <div class="col-md-12 col-12 align-self-center">
    <div class="col-md-6 col-6">
      <h2 class="text-themecolor m-b-0 m-t-0">Apuestas</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Apostar</li>
      </ol>
    </div>
    <app-nav-buttons></app-nav-buttons>
  </div>
</div>

<div class="row">
  <!-- Column -->

  <div class="col-lg-12 col-xlg-12 col-md-12">
    <div class="card">

      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Partidos" role="tab">Partidos</a>
        </li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="Partidos" role="tabpanel">
          <div class="card-body">

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Equipo 1</th>
                  <th>Equipo 2</th>
                  <th>Fecha</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let MostrarPartido of ListMostrarPartido">
                  <td>{{MostrarPartido.Id}}</td>
                  <td>{{MostrarPartido.Equipo1}}</td>
                  <td>{{MostrarPartido.Equipo2}}</td>
                  <td>{{MostrarPartido.FechaPartido}}</td>
                  <td>
                    <button type="button" (click)="LlamarApuestas(MostrarPartido.Id)" class="btn btn-danger-table" style="margin-right:16px;">Ver Apuestas</button>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- /Registrar Apuestas -->
<!-- ============================================================== -->