.card{

    width: 75%;
    height: auto;
    margin-left: 13%;
    background-color: rgb(235, 183, 116);
    border-radius: 1.5% ;
    margin-top: 5%;
}

.card-img-top {

    height: 5%;
    border-radius: 1.5%;

}

#map {
    height: 400px;
    width: 100%;
   }